* ,
*::after,
*::before{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}
html{
    font-size: 62.5% ;
}
body{
    box-sizing: border-box;
    font-family: Roboto !important;
}
.MuiPaper-elevation2{
    box-shadow: none !important;
}