.title-group{
    width: 100%;
    margin-bottom: 1rem ;
    margin-top: 3rem;
    text-align: left;
    padding-left: 1rem;
}
[data-style-id="title"]{
    font-weight: 400 !important;
    color: $color-primary-light !important;
    font-size: 2.4rem !important;
    font-family: "Montserrat" !important;
    margin-bottom: 2rem !important;
}

[data-style-id="subtitle"]{
    font-size: 1.4rem !important;
    margin-bottom: 2rem !important;
}
[data-style-id="app"][data-style-stage-name="Home"]{
    .MuiFormHelperText-root{
        color:$color-helper-text !important;
        font-weight: 100 !important;
    }
}