html,
body {
  font-size: 62.5%;
  font-family: "canada-type-gibson", sans-serif;
}

.siteforcePrmBody .cCenterPanel,
.cCenterPanel {
  padding: 0;
  margin: 0;
}

.siteforcePrmBody .cCenterPanel .siteforceContentArea .contentRegion {
  padding: 0;
}

.siteforcePrmBody .cCenterPanel .siteforceContentArea .ui-widget .forceCommunitySection .cb-section_row .cb-section_column,
.slds-col--padded {
  padding: 0 !important;
}

html,
body,
.siteforcePrmBody,
.siteforceContentArea,
.contentRegion,
[data-region-name=content],
.ui-widget,
iframe,
.cCenterPanel,
.forceCommunitySection,
cb-section_row,
.siteforceStarterBody {
  height: 100%;
}

.PHONE,
.DESKTOP,
.TABLET {
  display: none;
}

/* FIELDS */
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #757575;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #757575;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: #757575;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #757575;
}

html {
  font-size: 62.5%;
  height: 100%;
}

.salesforceIdentityLoginForm2 span .uiOutputRichText {
  color: red;
}

.salesforceIdentityLoginBody2 .cCenterPanel .slds-col--padded .ui-widget {
  padding: 1.5rem 1rem;
}

.uiOutputRichText p a {
  color: white;
}

.salesforceIdentityForgotPassword2 .uiOutputRichText {
  color: red;
}

#LoginNew {
  background-color: white !important;
}

.comm-page-login-home {
  padding: 0px !important;
}

.comm-page-forgot-password {
  padding: 0px !important;
}

.comm-page-check-password {
  padding: 0px !important;
}

.loginHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 1rem;
}

.loginHeader img {
  max-width: none !important;
}

.comm-page-home {
  height: 100%;
}

.comm-page-home .siteforceStarterBody {
  height: 100%;
}

.comm-page-home .cCenterPanel {
  height: 100%;
}

.comm-page-home .siteforceContentArea {
  height: 100%;
}

.comm-page-home .contentRegion {
  height: 100%;
}

.comm-page-home [data-region-name=content] {
  height: 100%;
}

.comm-page-home [data-region-name=content] .ui-widget {
  height: 100%;
}

.comm-page-home [data-region-name=content] .ui-widget iframe {
  height: 100%;
}

.DESKTOP {
  display: none;
}

.comm-page-login-home [data-region-name=header], .comm-page-forgot-password [data-region-name=header], .comm-page-login-error [data-region-name=header], .comm-page-check-password [data-region-name=header] {
  background-color: white;
  -webkit-box-shadow: 0px 0.3rem 0.3rem #888;
          box-shadow: 0px 0.3rem 0.3rem #888;
}

.comm-page-login-home .salesforceIdentityCommunityLogo2.communityLogoContainer, .comm-page-forgot-password .salesforceIdentityCommunityLogo2.communityLogoContainer, .comm-page-login-error .salesforceIdentityCommunityLogo2.communityLogoContainer, .comm-page-check-password .salesforceIdentityCommunityLogo2.communityLogoContainer {
  text-align: left !important;
}

.comm-page-login-home .input, .comm-page-forgot-password .input, .comm-page-login-error .input, .comm-page-check-password .input {
  padding: 1rem 1rem 1rem 1rem !important;
  margin-left: -82px !important;
}

.comm-page-login-home #centerPanel, .comm-page-forgot-password #centerPanel, .comm-page-login-error #centerPanel, .comm-page-check-password #centerPanel {
  height: 55rem;
  max-width: 128rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 145rem;
  background-color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding-top: 5%;
}

.comm-page-login-home #centerPanel > div, .comm-page-forgot-password #centerPanel > div, .comm-page-login-error #centerPanel > div, .comm-page-check-password #centerPanel > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40rem;
  background-color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.comm-page-login-home [data-region-name=content], .comm-page-forgot-password [data-region-name=content], .comm-page-login-error [data-region-name=content], .comm-page-check-password [data-region-name=content] {
  max-width: 35rem;
}

.comm-page-login-home [data-region-name=content] > *:last-child, .comm-page-forgot-password [data-region-name=content] > *:last-child, .comm-page-login-error [data-region-name=content] > *:last-child, .comm-page-check-password [data-region-name=content] > *:last-child {
  background-color: #f4f4f4;
  margin-bottom: 1rem !important;
  margin-top: 2rem !important;
}

.comm-page-login-home [data-aura-class=uiButton], .comm-page-forgot-password [data-aura-class=uiButton], .comm-page-login-error [data-aura-class=uiButton], .comm-page-check-password [data-aura-class=uiButton] {
  background-color: #2da850 !important;
}

.comm-page-login-home .broker-heading, .comm-page-forgot-password .broker-heading, .comm-page-login-error .broker-heading, .comm-page-check-password .broker-heading {
  text-align: center;
  background-color: white;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.comm-page-login-home .heading-content, .comm-page-forgot-password .heading-content, .comm-page-login-error .heading-content, .comm-page-check-password .heading-content {
  font-size: 2rem !important;
  color: black;
  padding-bottom: 0.5rem;
}

.comm-page-login-home .subheading-content, .comm-page-forgot-password .subheading-content, .comm-page-login-error .subheading-content, .comm-page-check-password .subheading-content {
  color: gray;
  /*padding: 0 0.4rem !important; */
  font-size: 13px;
  /*letter-spacing: .3px; */
}

.comm-page-login-home .salesforceIdentityCommunityLogo2 .communityLogo, .comm-page-forgot-password .salesforceIdentityCommunityLogo2 .communityLogo, .comm-page-login-error .salesforceIdentityCommunityLogo2 .communityLogo, .comm-page-check-password .salesforceIdentityCommunityLogo2 .communityLogo {
  width: 26rem !important;
  height: auto;
}

.comm-page-login-home, .comm-page-forgot-password, .comm-page-login-error, .comm-page-check-password {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.5rem 1rem;
}

.comm-page-login-home button, .comm-page-forgot-password button, .comm-page-login-error button, .comm-page-check-password button {
  font-weight: 700 !important;
}

.comm-page-login-home #cls_forgotpassword_container, .comm-page-forgot-password #cls_forgotpassword_container, .comm-page-login-error #cls_forgotpassword_container, .comm-page-check-password #cls_forgotpassword_container {
  padding: 1rem 2rem !important;
}

.comm-page-login-home .footer-section-details, .comm-page-forgot-password .footer-section-details, .comm-page-login-error .footer-section-details, .comm-page-check-password .footer-section-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: #e6f4ff !important;
  padding-top: 2rem !important;
  font-size: 1.3rem;
}

.comm-page-login-home .footer-section-details > div, .comm-page-forgot-password .footer-section-details > div, .comm-page-login-error .footer-section-details > div, .comm-page-check-password .footer-section-details > div {
  padding-bottom: 1.5rem;
}

.comm-page-login-home .footer-section-details .lock-icon span, .comm-page-forgot-password .footer-section-details .lock-icon span, .comm-page-login-error .footer-section-details .lock-icon span, .comm-page-check-password .footer-section-details .lock-icon span {
  background-color: #edeceb;
  font-family: fontawesome;
}

.comm-page-login-home .footer-section-details .company-policies a, .comm-page-forgot-password .footer-section-details .company-policies a, .comm-page-login-error .footer-section-details .company-policies a, .comm-page-check-password .footer-section-details .company-policies a {
  padding-right: 0.7rem;
  text-decoration: underline;
  color: #5a86ff;
  cursor: pointer;
}

.comm-page-home .cCenterPanel {
  margin-top: 0 !important;
  padding: 0 !important;
}

.comm-page-home .siteforceContentArea {
  padding: 0 !important;
}

.comm-page-home .contentRegion {
  padding: 0 !important;
}

.comm-page-check-password [data-region-name=content] > div:last-child {
  background-color: green !important;
}

.salesforceIdentityLoginForm2 .inputBox, .salesforceIdentityForgotPassword2 .inputBox {
  height: 1rem;
}

.salesforceIdentityLoginForm2 .uiButton,
.salesforceIdentityForgotPassword2 .uiButton {
  background-color: #2da850 !important;
}

.salesforceIdentityLoginForm2 .inverseTextColor {
  color: #2574a9 !important;
}

element.style {
  margin: 16px;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

user agent stylesheet div {
  display: block;
}

.salesforceIdentityLoginBody2 .cCenterPanel .slds-col--padded .ui-widget {
  /*padding: 1.5rem 1rem;*/
}

.salesforceIdentityLoginForm2 .inputContainer {
  padding: 4px 8px 8px !important;
}

.salesforceIdentityForgotPassword2 .inputContainer {
  padding: 4px 8px 8px !important;
}

.salesforceIdentityLoginForm2 .inputIcon {
  font-size: 30px !important;
}

.salesforceIdentityForgotPassword2 .inputIcon {
  font-size: 30px !important;
}

.salesforceIdentityLoginForm2 .inputContainer .uiInput input {
  width: 94% !important;
  margin-left: 2rem !important;
  padding: 0 !important;
  margin-top: 0 !important;
  height: auto;
  color: black !important;
  font-size: 14px !important;
}

.salesforceIdentityForgotPassword2 .inputContainer input {
  width: 94% !important;
  margin-left: 2rem !important;
  padding: 0 !important;
  margin-top: 0 !important;
  height: auto;
  color: black !important;
  font-size: 14px !important;
}

#LoginNew #centerPanel [data-region-name=content] .ui-widget:nth-child(2) {
  margin-top: 0px !important;
}

.salesforceIdentityLoginForm2 .inputContainer input:focus {
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.salesforceIdentityForgotPassword2 .inputContainer input:focus {
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.slds-path .slds-path__mark-complete {
  display: none;
}