.MuiToolbar-root{
    justify-content: center;
}
.toolbar-at-bottom{
    margin-bottom: 4rem;
}

[data-style-actor-name="BrStartApplicationBtn"]{
    .MuiToolbar-root.MuiToolbar-regular.toolbar-at-bottom{
        display: flex;
       // flex-direction: row !important;
        padding: 0;
    } 
}


[data-style-actor-name="BrReviewContentAuto"]{
    .toolbar-at-bottom{
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
    }
}

[data-style-id="action"][data-style-action-name="backAutoInsurance"] {
    text-transform: capitalize !important;
    font-size: 1.9rem !important;
    font-weight: 100;
    font-family: "Roboto" !important;
    margin-top: 1.5rem !important;
  }