.MuiCircularProgress-svg{
 color: #CEE6FF;
}
.MuiButton-contained {
    box-shadow: none !important;
    background-color: $color-white !important;
}
.MuiButton-containedPrimary{
    border:2px solid $color-button-border !important;
    color: $color-button-border !important;
    background-color:  $color-white !important;
    @include button-common-element;
    @include button-font;
    
}

button.MuiButtonBase-root.MuiTab-root.MuiTab-textColorPrimary.tab.Mui-disabled.Mui-disabled{

        color: rgb(134, 131, 131) !important;
        background-color: rgb(252, 248, 248) !important;
    
}
.MuiButton-containedSecondary{
    color: $color-white !important;
    text-transform: capitalize !important;
    @include button-common-element;
    @include button-font;
}

[data-style-id="app"][data-style-stage-name="Home"]{
    .MuiButton-containedSecondary{
        background-color: $color-secondary-background !important;

    }
}

[data-style-id="app"][data-style-stage-name="BrPersonalRateEst"]{
    .MuiButton-containedSecondary{
        background-color: $color-button-secondary !important;
    }
}

[data-style-id="app"][data-style-stage-name="BrMotorRateEst"]{
    .MuiButton-containedSecondary{
        background-color: $color-button-secondary !important;
    }
}

[data-style-action-name="userAction"],[data-style-action-name="useraction"]{
    background-color: transparent !important;
    box-shadow: none !important;
    .account_holder_name{
        margin-right: 1rem ;
        text-transform: capitalize !important;
        font-size: 1.4rem !important;
    }
    .ud-user-icon{
        font-size: 1.6rem !important;
    }
}

[data-style-actor-name="BrTradeInDetails"]{
    .toolbar-at-bottom{
        display: flex;
        flex-direction: column;
    }
}

[data-style-action-name="backAuto"]{  
    text-transform: capitalize !important;
    font-size: 1.9rem !important;
    font-weight: 100;
    font-family: "Roboto" !important;
    margin-top: 1.5rem !important;
    font-weight: 100 !important;

}
[data-style-id="app"][data-style-stage-name="BrPersonalRateEst"] [data-style-id="action"][data-style-action-name="continueAuto"]{
    background-color : #1A74FE !important;
    font-size: 14px;
    min-width: 64px;
    box-sizing: border-box;
    font-family: Roboto;
    font-weight: 500;
    line-height: 1.75;
}

[data-style-actor-name="BrCollateralListView"]{
    .MuiToolbar-regular.toolbar-at-top{
        button{
            //background-color: #d6d8f1 !important;
            font-size: 14px !important;
    
            &:hover{
              //  background-color: #f2f3fc !important;
            }
        }
    }
}


[data-style-actor-name="BrSearchByNvic"]{
    [data-style-actor-name="BrSearchByNvicContainer"]{
        .MuiToolbar-root.MuiToolbar-regular.toolbar-at-bottom.MuiToolbar-gutters{
           // position: absolute;
            button[data-style-action-name="SearchNVIC"]{
                margin-left: -41rem;
            }
        }
    }
}


[data-style-actor-name="BrStartApplication"]{
    .MuiToolbar-root.MuiToolbar-regular.toolbar-at-bottom.MuiToolbar-gutters{
      display: none !important;
    }
  }

[data-style-actor-name="BrRequiredAutoDetails"]{
    [data-style-actor-name="BrNotes"]{
        .MuiToolbar-root.toolbar-at-bottom.MuiToolbar-gutters{
            .MuiButtonBase-root.MuiButton-root.MuiButton-contained.action.position-default.MuiButton-containedPrimary.MuiButton-containedSizeLarge.MuiButton-sizeLarge[data-style-action-name="notes"]{
                margin-right: 71rem !important;
          }
        
        }
    }

}


