input, label{
    color: $color-black !important;
}
[data-style-id="section-title"]{
    color: $color-primary-light !important;
    font-family: Montserrat !important;
}
input[readonly]
{
    cursor: not-allowed !important;
}