[data-style-id="filter-control"]{
    width: 40% !important;
    text-align: left;
    height: 4.8rem;
    margin-bottom: 4rem !important;
    label{
        font-weight: 100 !important;
        font-size: 1.3rem !important;
    }
}

//Fliter icon with name
.filter-content{
    margin-right: 1rem;
    text-transform: none !important;
    font-size: 1.4rem !important;
    
}