.MuiTable-root{
    text-align: center !important;
    border-spacing: 0.2rem !important;
    border-collapse: separate !important;
}

table{
    margin-top: 2rem;
}
[data-style-id="list-view"][data-style-actor-name="BrSupportingDocumentList"]{
    box-shadow: 0 0 4px $color-box-shadow !important;
    margin: 2rem !important;
    table{
        th , td{
            border: none !important;
        }
       [data-style-id="list-actions"].MuiTableCell-root.MuiTableCell-body{
            display: revert !important;
        }
        [aria-haspopup="listbox"]{
            background-color: $color-sidebar-background !important;
        }
        [data-style-id="list-view-value"][data-style-field-name="attachmentName"]{
            font-size: 1.4rem !important;
        }
        
        
        
    }
    [data-style-id="blank-message"]{
        @include table-blank-message;
        background-color: $color-table-my-application !important;
    }
    [data-style-action-name="ViewDocBtn"],[data-style-action-name="DeleteDocBtn"],[data-style-action-name="DeleteDocBt"]{
        padding: 0 !important;
        min-width: fit-content !important;
    }
    [data-style-action-name="ViewDocBtn"]{
        margin-right: 1rem!important;
    }

}
[data-style-id="list-view"][data-style-actor-name="BrApplicationCardViewPanel"],[data-style-id="list-view"][data-style-actor-name="BrTopupApplications"],[data-style-id="list-view"][data-style-actor-name="BrDownloadLoanDetails"]{
    .MuiButton-containedSecondary{
        background-color: $color-table-my-application !important ;
    }
    table{
        border: 8px solid $color-table-my-application;
        thead{
            th{
                background-color:  $color-table-my-application;
                
            }
        }
    }
    [data-style-id="blank-message"]{
        @include table-blank-message;
        background-color: $color-table-my-application !important;
    }
}
[data-style-id="list-view"][data-style-actor-name="BrQuickQuoteDetailsTabContainer"],
[data-style-id="list-view"][data-style-actor-name="BrApplicantConfirmPanel"],
[data-style-id="list-view"][data-style-actor-name="BrTopupEligibleAccount"],
[data-style-id="list-view"][data-style-actor-name="BrOtherLoanDetailsListsViews"],
[data-style-id="list-view"][data-style-actor-name="BrSignedLaonContractListView"],
[data-style-id="list-view"][data-style-actor-name="BrPayeeListView"],
[data-style-id="list-view"][data-style-actor-name="BrInsuranceShowPayee"]{
    .MuiButton-containedSecondary{
        background-color: $color-table-rate-estimate !important ;
    }
    table{       
        border: 8px solid $color-table-rate-estimate;
        thead{
            th{
                background-color:  $color-table-rate-estimate;
            }
        }
    }
    [data-style-id="blank-message"]{
        @include table-blank-message;
        background-color: $color-table-rate-estimate !important;
    }

}
thead{
    th{
        font-size: 1.4rem !important;
    }

}
tbody{
    tr{

    }
    tr{
        
        td.MuiTableCell-root.MuiTableCell-body[data-style-id="list-actions"]{
            // border-bottom: 1px solid rgba(224, 224, 224, 1) !important;
        }
        th , td{
            .MuiTypography-body1{
                font-weight:  100 !important;
                font-size: 1.2rem !important;
            }
            
        }

    }




}
// .MuiTypography-body1 {
//     font-size: 1.2rem;
//     font-weight: 100;
// }

[data-style-id="list-view"]{


        .MuiButton-containedPrimary{
            border:none !important;
            color: #006AFF !important;
            background-color:  $color-white !important;
            @include button-common-element;
            font-size: 1.2rem !important;
            font-weight: 400 !important;
            min-width: 5rem !important; 
            
        }
    
}
[data-style-id="action"][data-style-action-name="RefreshBtn"]{
    position: absolute !important;
    top: 7.5rem !important;
    right: 0rem;
    border:2px solid $color-button-border !important;
    color:$color-button-border !important;

}
.fa-refresh{
    padding-left: 5px !important;
}
[data-style-id="list-view"][data-style-actor-name="BrTopupApplications"],[data-style-id="list-view"][data-style-actor-name="BrTopupEligibleAccount"]{
    padding-top: 3rem !important;
}
