[role="none presentation"] {
  [role="dialog"].MuiPaper-root.MuiDialog-paper.MuiDialog-paperScrollPaper.MuiDialog-paperWidthSm {
    margin-top: 8.6rem;
    [data-style-id="modal-dialog"][data-client="desktop"] {
      header {
        box-shadow: none !important;
        background-color: $color-white;
      }
      [data-style-id="division"][data-style-actor-name="BrLoanSelectionPopup"] {
        height: 100%;
        & > [data-style-actor-name="BrLoanSelectionContainer"] {
          height: 100%;
          [data-style-id="base-panel"][data-style-actor-name="BrLoanSelectionContainer"] {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -70%);
            .title-group {
              text-align: center !important;
            }
          }
          button {
            width: 22rem;
            margin-right: 6rem !important;
            background-color: $color-button-secondary !important;
          }
        }
      }
    }
  }
}

.quoteDetails {
  padding: 3rem 3rem;
  display: grid;
  grid-template-columns: 50% 50%;

  &-Profile {
    &--Number {
      font-family: Montserrat !important;
      font-size: 1.6rem !important;
      font-weight: 700 !important;
    }
    &--Details {
      margin-top: 3.3rem;
    }
  }
  &-Repayment {
    &--Btn {
      height: 3rem;
      background-color: #ffdeef;
      font-size: 1.4rem;
      text-align: center;
      padding-top: 0.5rem;
      font-weight: 500;
      font-family: Montserrat !important;
      cursor: pointer;
    }
    &--Schedule {
      margin-top: 1.5rem;
      padding-top: 1rem;
      padding-left: 1.5rem;
      background-color: #e9ebec;
      padding-bottom: 1rem;
    }
  }
  .profile-details {
    font-weight: 500 !important;
  }
}
#userAction,
#newuserAction {
  .MuiPaper-root.MuiMenu-paper.MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded {
    //left: 100.1rem !important;
    @include userAction-pop;
  }
}
#QuoteViewContainer {
  & > div {
    box-shadow: 0 0 6px $color-gray !important;
  }
}
.password-change-textafter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .icon-tick {
    font-size: 5rem;
  }
  .text-details {
    margin-top: 2rem !important;
    font-size: 2rem !important;
    font-family: "Montserrat" !important;
  }
  .color-red {
    color: #cf000f !important;
  }
  .color-green {
    color: #1a8450 !important;
  }
  .color-yellow {
    color: #f9b845 !important;
  }
}
[data-style-id="static-content"][data-style-actor-name="QuoteViewDetails"] {
  .MuiToolbar-root.MuiToolbar-regular.toolbar-at-bottom.MuiToolbar-gutters {
    display: none !important;
  }
}

[data-style-actor-name="BrDateOfBirthPopupDetails"],
[data-style-actor-name="BrDateOfBirthAppPopupDetails"],
[data-style-actor-name="BrApplicationDOBCheckDetails"] {
  .MuiTypography-root.text-after.MuiTypography-body1 {
    margin-bottom: 1rem !important;
    text-align: center;
    color: red;
  }
}

[data-style-actor-name="BrDateOfBirthPopupDetails"].actor-wrapper,
[data-style-actor-name="BrAppDownloadCheckDetails"].actor-wrapper,
[data-style-actor-name="BrApplicationDOBCheckDetails"].actor-wrapper,
[data-style-actor-name="BrDateOfBirthAppPopupDetails"].actor-wrapper,
[data-style-actor-name="BrQuoteDateOfBirthPopupDetails"].actor-wrapper {
  div.record-content {
    margin: 0 !important;
    [data-style-id="grid-container"] {
      padding: 1rem 1rem !important;
      input {
        text-align: center !important;
      }
    }
  }
}


//Error Message Popup
[data-style-actor-name="BrErrorMessagesDetails"]{
  [data-style-actor-name="BrErrorMessagesDetails"][data-style-id="detail-view"]{
    [data-style-id="title"]{
      span{
        p{
          font-size: 1.7rem !important;
          text-align: center;
        }
      }
    }
  }
}