[data-style-id="app"][data-style-stage-name="Home"],
[data-style-id="app"][data-style-stage-name="BrPortalInProgress"] {
  [data-style-actor-name="BrHeaderUser"].actor-wrapper,
  [data-style-actor-name="BrInProgressUser"].actor-wrapper {
    [data-style-id="grid-container"] {
      font-weight: 100 !important;
      [data-style-id="field"].radiobuttons {
        outline: none !important;
        fieldset.MuiFormControl-root {
          outline: none !important;
          // padding-top: 1.5rem;
          div.MuiFormGroup-root {
            outline: none !important;
            div.MuiGrid-root.MuiGrid-container {
              margin: 0;
              outline: none !important;
              div.MuiGrid-root.MuiGrid-item {
                label {
                  span.MuiButtonBase-root {
                    padding: 0;
                    background: transparent;
                    border-radius: 0rem;
                    width: 8.6rem;
                    height: 4rem;
                    &.Mui-checked {
                      border-bottom: 2px solid $color-black;
                    }
                    span.MuiIconButton-label {
                      div {
                        opacity: 0;
                      }
                      &::after {
                        display: none;
                      }
                    }
                  }
                  span.MuiTypography-root {
                    margin-top: 0rem;
                    height: fit-content;
                    font-size: 1.3rem;
                    z-index: 9;
                    position: absolute;
                    display: block;
                    width: 8.5rem;
                    line-height: 0 !important;
                    font-weight: 100 !important;
                    li.MuiListItem-root {
                      padding: 0;
                      div.MuiListItemText-root {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        width: 12rem;
                        span.MuiTypography-root {
                          display: block;
                          text-align: center;
                          width: 12rem;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  [data-style-actor-name="BrCalculatorContainer"].actor-wrapper {
    [data-style-field-name="No_of_dependents"][data-style-id="field"] {
      padding-left: 0 !important;
    }
    [data-style-id="grid-container"] {
      [data-style-id="field"].radiobuttons {
        outline: none !important;
        fieldset.MuiFormControl-root {
          outline: none !important;
          padding-top: 1.3rem;
          > legend {
            color: black !important;
          }
          div.MuiFormGroup-root {
            outline: none !important;
            div.MuiGrid-root.MuiGrid-container {
              margin: 0;
              outline: none !important;
              width: 100% !important;
              div.MuiGrid-root.MuiGrid-item {
                padding-right: 5px !important;
                padding-left: 0 !important;
                label {
                  width: 100% !important;
                  margin-right: 5px !important;
                  margin-left: 0 !important;

                  span.MuiButtonBase-root {
                    padding: 0;
                    border: 0.2rem solid $color-inactive;
                    background: white;
                    border-radius: 0.3rem;
                    // width: 8.6rem;
                    width: 100% !important;
                    height: 5.2rem;
                    &.Mui-checked {
                      border: 2px solid $color-primary;
                      background: $color-table-rate-estimate;
                    }
                    span.MuiIconButton-label {
                      div {
                        opacity: 0;
                      }
                      &::after {
                        display: none;
                      }
                    }
                  }
                  span.MuiTypography-root {
                    margin-top: 0rem;
                    height: fit-content;
                    color: $color-charcoal;
                    font-size: 1.4rem;
                    z-index: 9;
                    font-family: Roboto;
                    position: absolute;
                    display: block;
                    width: 8.5rem;
                    width: 100% !important;

                    line-height: 0 !important;
                    li.MuiListItem-root {
                      padding: 0;
                      div.MuiListItemText-root {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        width: 12rem;
                        span.MuiTypography-root {
                          display: block;
                          text-align: center;
                          width: 12rem;
                          font-weight: 100 !important;
                        }
                      }
                    }
                  }
                  span.MuiTypography-root.MuiFormControlLabel-label.MuiTypography-body1 {
                    // width: auto !important;
                    width: 47% !important;
                  }
                  span.MuiButtonBase-root {
                    width: 100%;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}


[data-style-id="app"][data-style-stage-name="BrPortalInProgress"] {
  [data-style-section-name="Tabsets_homepage"]{
    padding:0px !important;
    [data-style-id="field"]{
    padding:0px;
  }
}
}

