@mixin  display-flex {
    display: flex;
    justify-content: center;
}
@mixin  button-font {
    font-size: 1.5rem !important;
    
}
@mixin button-common-element{
    height: 4.8rem !important;
    min-width: 12.8rem !important;

    text-transform: none !important;
    box-shadow: none !important;
    border-radius: 0.5rem !important;

}
@mixin title-title-group-common-element{
    width: 100%;
    margin-bottom: 5rem ;
    margin-top: 3rem;
    text-align: left;
    padding-left: 1rem;
    
}

@mixin table-blank-message {
    height: 6rem;
    font-size: 1.6rem !important;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500 !important;

    padding-top: 0 !important;
    
}

@mixin label_format{
    transform: none !important;
    font-size: medium !important;
    font-weight: 400 !important;
    position: relative !important;
}
@mixin grid_format{
    display: grid !important;
    grid-template-columns: [start] 50% [middle] 50% [end] !important;
    outline: none !important;
}
@mixin userAction-pop
 {
        top:7.5rem !important;
        width: 37.5rem !important;
        padding: 1.5rem !important;
        box-shadow: 0 0 2px $color-box-shadow ;
        ul{
            li{
                height: 5.1rem;
                background-color: $color-popup-background !important;
                
                .fa {
                    margin-right: 2rem !important;
                    font-size: 2rem !important; 
                }
                .user-text{
                    font-family: Montserrat !important;

                }
                & > span {
                    display: flex;
                    align-items: center;
                }
            }
            & > li:not(:last-child){
                margin-bottom: 1rem;
            }
        }
    
}

