//COLOURS
$color-black: #000000;
$color-primary-light: #414141;
$color-white: #ffffff;
$color-gray : gray;
$color-button-border:#006AFF;
$color-footer: #E8F4FF ;
$color-icon-background:#ede9e9;
$color-sidebar-background : #ECECEC ;
$color-body-background : #F8F8F8;
$color-helper-text: #616A72;
$color-secondary-background : #1A74FE;
$color-box-shadow : #B9BFC4;
$color-table-rate-estimate:#CEE6FF;
$color-table-my-application:#D5D3FA;
$color-table-bottom-border:#E5E5E5;
$color-button-secondary: #21A637 ;
$color-popup-background: #F3F3F3 ;
$color-black : black;
$color-concent : #cee6ff;
$shadow-color: #B9BFC4;
$color-white:#ffffff;
$step-color: #28B540;

///Color-Primary
$color-primary:#0046AA;
$color-secondary:#82C6FF;
$color-tertiary:#EFF7FF;

//Button colors
$color-primary-btn:#006AFF;
$color-secondary-btn:transparent;
$color-tertiary-btn:#21A637;

//Additional
$color-solid-pink:#FF94CA;
$color-tint-pink:#FFDEEF;
$color-link-color:#006AFF;
$color-black-text:#000;
$color-sec-text:#414141;
$color-inactive:#D6D6D6;
$color-error:#B3000C;
$color-white:#ffffff;

//unused
$color-charcoal: #333333;
$color-dove:#E6E7E8;
$color-gold:#FFE552;
$color-bright-yellow:#FFD200;
$color-hover-tab:#F4EFD9;
$color-bright-blue:#32709B;
$color-blue:#37556E;
$color-dark-gray-light70:lighten($color-charcoal, 75%);
$trash-icon-color:#FA3268;
$record-action-bg-color:#ececec66;

// Range Slider
$range-handle-color: $color-gold !default;
$range-handle-color-hover: $color-gold !default;
$range-handle-size: 20px !default;
$range-track-color: #d7dcdf !default;
$range-track-height: 10px !default;
$range-label-color: #2c3e50 !default;
$range-label-width: 60px !default;
$color-border:#ececec;
$foot_color:#E8F4FF;
$font-color:#707070;
$btn_color:rgb(0, 153, 255);
$button-color:rgb(82, 82, 255);

$color-input-border:#8E959B;
$color-disclosure-li:#63B8FF;
$color-approve-background:#CEE6FF;