[data-style-id="record"][data-style-record-id="new_record_id"] {
  margin-left: 1rem;
}
[data-style-actor-name="BrCalculatorContainer"] {
  margin: 0% 3%;
  padding-bottom: 2.5rem;

  [data-style-actor-name="BrCalculatorPanel"] {
    [data-style-id="section-title"] {
      font-size: 1.8rem !important;
    }
    .MuiToolbar-root.MuiToolbar-regular.toolbar-at-top.MuiToolbar-gutters {
      .title-group {
        [data-style-id="subtitle"] {
          font-size: 1.8rem !important;
        }
      }
    }
  }
}
.approved-data {
  h4 {
    font-size: 20px !important;
    font-family: "Montserrat";
    padding-bottom: 1.5rem !important;
  }

  .approved-data-detail {
    margin-left: 2.5rem !important;

    .grid-cols {
      display: grid;
      grid-template-columns: 50% 20%;
      margin-bottom: 0.7rem !important;
      p {
        font-size: 1.8rem;
      }
    }
    .bold {
      font-weight: bolder !important;
      padding-bottom: 1rem !important;
    }

    .normal {
      font-weight: 100;
      padding-bottom: 1rem !important;
    }

    span {
      font-size: 1.8rem !important;
      font-weight: 100;
    }
  }
}

.MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-shrink.MuiInputLabel-outlined.Mui-error.Mui-error.Mui-required.Mui-required {
  font-weight: 100 !important;
  font-size: 16px;
}

.total_montly_expenses {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 4px #b9bfc4;
  &_title {
    font-size: 1.8rem;
    font-weight: 300;
    padding-top: 1rem;
  }
  &_amount {
    padding-bottom: 1rem;
    font-size: 2.4rem;
    font-weight: 400;
    color: $color-primary-light;
  }
}
[data-style-id="text-after"] {
  padding: 0.76rem 5px 0.46rem 20px !important;
  margin-top: 1rem !important;
  margin-bottom: 6rem !important;
}
.MuiInputLabel-formControl {
  span {
    display: none;
  }
}
.sub-details {
  padding-top: 10px !important;
  font-weight: 100 !important;
  font-size: 1.5rem !important;
  font-family: "Roboto" !important;
}
