[data-style-id="base-panel"][data-style-actor-name="BrUpdatePasswordPanel"]{
    width: 40%;
    [data-style-id="title"]{
        padding-left: 0.5rem !important;
    }
    [data-style-id="text-after"]{
        padding-left: 2.4rem !important;
        font-size: 1.4rem !important;
        li{
            margin-left: 1.6rem !important;
            
        }
    }
    .MuiToolbar-root.MuiToolbar-regular.toolbar-at-bottom.MuiToolbar-gutters{
        justify-content: left !important;
        padding-left: 2.5rem !important;
    }
}