[data-style-id="base-panel"][data-style-actor-name="BrMyProfileEditablePanel"]{
    padding-right: 10rem ;
    .MuiToolbar-root.MuiToolbar-regular.toolbar-at-top.MuiToolbar-gutters{
        justify-content: right !important;
        button{
            color: #006AFF;
            right: 0;
            text-transform: capitalize !important;
            font-size: 1.8rem !important;
        }
    }
    .section-title{
        font-size: 2.0rem !important;
    }
    [data-style-section-name="ContactDetailsSection"][data-style-id="grid-container"]{
        margin-top: -2rem !important;
        
    }
}
[data-style-id="static-content"][data-style-actor-name="BrMyProfilePanel"]{
    .profile-details-container{
        padding-left: 1.6rem !important;
        p{
            font-size: 1.6rem !important;
            font-weight: 300 !important;
        }
    } 
}
.fa-pencil{
    margin-right: 5px !important;

}