
[data-style-actor-name="BrDateOfBirthPopupDetails"]{
    margin: 0% 0%;
   
}
.print-quote{
    text-align: center;
    color:#006AFF !important;
    cursor: pointer;
    padding-top: 1rem;
    font-family: "Roboto";
}