.guidesServices {
  padding-left: 1.6rem;
  font-size: 1.4rem !important;
  margin-top: -2rem !important;
  font-weight: 100 !important;

  h2 {
    font-family: Montserrat !important;
    font-size: 1.6rem !important;
    font-weight: 400 !important;
    color: $color-black !important;
    margin-bottom: 2rem !important;
  }
  a {
    cursor: pointer;
  }

    ul {
      li {
        color: #006aff !important;
        font-size: 16px !important;
      }
    }
  
  ul {
    padding-left: 1.6rem !important;
    a {
      color: #006aff !important;
      cursor: pointer;
    }
  }
  p {
    margin-bottom: 1.5rem !important;
    u {
      text-decoration: none !important;
    }
    a {
      color: #006aff !important;
    }
  }
}
[data-style-actor-name="BrQuoteViewDetails"][data-style-id="static-content"] {
  div.MuiToolbar-root.MuiToolbar-regular {
    display: none;
  }
}
