html {
  font-size: 10px;
}

.flabel{
  [data-style-id="field-label"]{
    color: white !important;
    text-transform: uppercase !important;
    font-family: 'Montserrat';
  }
}
#useraction {
  .MuiPaper-root.MuiMenu-paper.MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded {
    //left: 96.5rem !important;
    @include userAction-pop;
  }
}

.Mui-disabled {
  cursor: not-allowed !important;
  pointer-events: all !important;
}

[data-style-action-name="useraction"] {
  .account_holder_name {
    margin-right: 0 !important ;
    text-transform: capitalize;
    font-size: 1.4rem !important;
  }
}

.colorToggle {
  background-color: $color-concent !important;
}

.MuiSnackbar-anchorOriginTopCenter {
  top: 7.7rem !important;
}

.mini-section-header {
  font-weight: 100 !important;
  font-size: 1.8rem !important;
  font-family: "Roboto" !important;
  margin-top: 2rem !important;
}

.MuiFormHelperText-root.MuiFormHelperText-contained.Mui-error.MuiFormHelperText-filled {
  font-weight: 100 !important;
  font-size: 14px !important;
  color: red !important;
}

.MuiFormHelperText-root.MuiFormHelperText-contained.Mui-error.Mui-required {
  font-weight: 100 !important;
  font-size: 14px !important;
  color: red !important;
}
.MuiFormHelperText-root.Mui-error.Mui-required {
  font-weight: 100 !important;
  font-size: 14px !important;
  color: red !important;
}
//Button
[data-style-id="base-panel"][data-style-actor-name="BrExpensesButton"],
[data-style-id="base-panel"][data-style-actor-name="BrConfirmationsBtn"],
[data-style-id="base-panel"][data-style-actor-name="BrVerifyButton"],
[data-style-id="base-panel"][data-style-actor-name="BrVerifyButton"],
[data-style-id="base-panel"][data-style-actor-name="BrSupportingDocumentBtn"],
[data-style-id="base-panel"][data-style-actor-name="BrDownloadLoanBtn"],
[data-style-id="base-panel"][data-style-actor-name="BrDownloadLoanBtn"],
[data-style-id="base-panel"][data-style-actor-name="BrSignedLaonContractSubmit"],
[data-style-id="base-panel"][data-style-actor-name="BrCreateAndSubmit"],
[data-style-id="static-content"][data-style-actor-name="BrAppApprove"],
[data-style-id="static-content"][data-style-actor-name="MtMotorAppApproveDetail"],
[data-style-id="base-panel"][data-style-actor-name="BrExpenseOneButton"],
[data-style-id="base-panel"][data-style-actor-name="BrExpenseTwoButton"],
[data-style-id="base-panel"][data-style-actor-name="BrMultiEmploymentOneBtn"],
[data-style-id="base-panel"][data-style-actor-name="BrMultiEmploymentTwoBtn"] {
  div.MuiToolbar-root.MuiToolbar-regular.toolbar-at-bottom.MuiToolbar-gutters {
    margin-top: 3rem !important;
    display: flex;
    flex-direction: column;
  }
}
.blue-color {
  color: $color-secondary-background !important;
  text-decoration-color: $color-secondary-background !important;
  cursor: pointer !important;
}

.FAILED,
.REFERRED,
.LFS_EXISTING_SIB {
  display: none !important;
}

// Rate Estimate Page
[data-style-id="app"][data-style-stage-name="BrPersonalRateEst"],[data-style-id="app"][data-style-stage-name="BrMotorRateEst"] {

  [data-style-field-name="Application_Type"]{
    .MuiFormControl-root{
      .MuiGrid-root{
        .MuiFormControlLabel-root{
          span{
            .MuiTypography-root{
              //padding-right: 13rem !important;
            }
          }
        }
      }
    }
  }
  [data-style-field-name="quoteSessionId"][data-style-id="field"] {
    display: none;
  }
  .MuiButton-containedSecondary {
    min-width: 31.2rem !important;
  }
  [data-style-section-name="ConfirmationCheckSection"][data-style-id="grid-container"] {
    padding-bottom: 0px !important ;

    [data-style-field-name="I_Request_To_Nominate"][data-style-id="field"] {
      padding-bottom: 0 !important;
      label {
        background-color: transparent !important;
      }
    }
  }
  [data-style-section-name="ConfirmationCheckSectionLast"][data-style-id="grid-container"] {
    padding: 0 !important;
    h3 {
      padding-left: 4.9rem;
      font-size: 1.6rem !important;
      font-family: "Roboto" !important;
      font-weight: lighter !important;
      line-height: 2.2rem !important;
      padding-bottom: 2rem;
    }
  }
  [data-style-id="action"][data-style-action-name="back"] {
    text-transform: capitalize !important;
    font-size: 1.9rem !important;
    font-weight: 100;
    font-family: "Roboto" !important;
    margin-top: 1.5rem !important;
  }
  [data-style-id="action"][data-style-action-name="continue"] {
    background-color: $color-secondary-background !important;
  }
  [data-style-id="action"][data-style-action-name="submit"] {
    background-color: $color-button-secondary !important;
  }
  [data-style-id="field"] {
    p.MuiFormHelperText-root {
      font-size: 1.4rem !important;
    }
  }



  [data-style-section-name="contactSection"] {
    [data-style-field-name="Mobile_Number"] {
      [aria-label="Mobile number"] {
        div {
          .MuiInputAdornment-root.MuiInputAdornment-positionStart {
            font-size: 14px !important;
          }
        }
      }
    }
  }
  .MuiFormControl-root.MuiTextField-root.MuiFormControl-marginNormal {
    label {
      font-family: "Roboto";
      font-size: 1.6rem;
      color: #000000;
    }
  }

  .MuiStepIcon-root.MuiStepIcon-completed {
    color: $step-color !important;
  }
  .MuiStepIcon-active {
    color: $color-primary !important;
  }
  .MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-fullWidth.MuiInputBase-formControl {
    div {
      font-family: "Roboto";
      font-size: 1.6rem;
      color: #000000;
    }
  }
  .MuiSvgIcon-root.MuiSelect-icon.MuiSelect-iconOutlined {
    color: $color-black-text !important;
  }
  .MuiFormLabel-asterisk {
    display: none !important;
  }

  [data-style-id="division"][data-style-actor-name="ClsLayoutTwo"] {
    & > [data-style-actor-name="ClsLayoutTwooHeading"] {
      height: 7rem !important;
      background-color: $color-white !important;
    }
    & > [data-style-actor-name="ClsLayoutTwooMain"] {
      [data-style-id="division"][data-style-actor-name="ClsLayoutTwooMain"] {
        & > [data-style-actor-name="ClsLayoutTwoFooter"] {
          position: relative;
        }
      }
    }
  }

  [data-style-actor-name="BrHeaderLogoRate"].actor-wrapper.contains-content,[data-style-actor-name="BrMotorHeaderLogo"].actor-wrapper.contains-content{
    width: 27rem;
    height: 7rem;
  }

  [data-style-id="steps"] {
    .MuiStepIcon-root {
      .MuiStepIcon-text {
        display: none;
      }
    }
  }

  [data-style-id="division"][data-style-actor-name="ClsLayoutTwooHeading"] {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 1rem;
    padding-left: 7rem;
    padding-right: 7rem;
    .MuiPaper-elevation2 {
      box-shadow: none !important;
    }
  }

  [data-style-id="title"] {
    font-family: Montserrat !important;
    font-size: 2.8rem !important;
    flex-grow: 1 !important;
    font-weight: 500 !important;
    text-align: center !important;
    color: $color-black-text !important;
  }
  [data-style-id="subtitle"] {
    flex-grow: 1 !important;
    font-family: "Roboto" !important;
    font-size: 1.6rem !important;
    text-align: center !important;
    font-weight: 100 !important;
    padding: 0.5rem 6rem !important;
    color: $color-black-text !important;
  }
  [data-style-id="division"][data-style-actor-name="ClsLayoutTwooMain"] {
    & > [data-style-actor-name="ClsLayoutTwooBody"] {
      background-color: #f8f8f8;
      padding: 2rem 10rem;
      height: auto !important;
      min-height: 62rem !important;
    }
  }

  [data-style-actor-name="BrContentSteps"].actor-wrapper {
    [data-style-id="steps"] {
      .MuiPaper-root.MuiPaper-elevation2 {
        border: none;
        box-shadow: none;
      }
      & > [data-style-id="tab-step-body"] {
        padding: 0rem 16rem;
      }
    }
  }

  .MuiInputLabel-formControl {
    span {
      display: none;
    }
  }

  [data-style-id="section-title"] {
    font-family: Montserrat !important;
    flex-grow: 1 !important;
    font-weight: lighter !important;
    font-size: 2.4rem !important;
  }

  [data-style-actor-name="BrRateEstimatePage"] {
    .MuiToolbar-root.MuiToolbar-regular.toolbar-at-top.MuiToolbar-gutters {
      .title-group {
        h2 {
          width: 684px;
          text-align: center !important;
          // margin: 0% 10%;
          margin: 0 auto;
          line-height: 2.2rem;
        }
      }
    }
    [data-style-section-name="AboutYouSection"] {
      [data-style-field-name="Gender"] {
        [aria-label="Gender"] {
          > div {
            > div {
              label {
                > span:last-child {
                  width: 31% !important;
                }
              }
            }
          }
        }
      }
    }
    [data-style-section-name="brokerdetails"] {
      [data-style-field-name="BrokerFee"] {
        .MuiFormControl-root.MuiTextField-root.MuiFormControl-marginNormal.MuiFormControl-fullWidth {
          p {
            span {
              font-weight: 100;
              font-size: 14px;
            }
          }
        }
      }
    }
    [data-style-id="disclosure"] {
      .MuiFormControlLabel-root {
        margin-top: -45rem !important;
        margin-left: 1rem !important;
      }

      .description {
        border: none !important;
        font-weight: lighter;
        padding-left: 6rem !important;
        font-size: 1.6rem;
        font-family: "Roboto";
      }
      &::before {
        content: "Confirmation";
        font-family: Montserrat;
        flex-grow: 1;
        font-weight: lighter !important;
        font-size: 2.4rem;
      }
    }

    [data-style-field-name="I_Consent_To_The_Above_rate2"],
    [data-style-field-name="I_Consent_To_The_Above_rate3"] {
      label {
        display: none;
      }
      span.MuiIconButton-root {
        display: none;
      }
      span.MuiFormControlLabel-label {
        margin-left: 4rem;
      }
    }
    [data-style-field-name="I_Consent_To_The_Above_rate3"] {
      label {
        display: none !important;
      }
    }
  }
  [data-style-actor-name="BrRateEstimatePageDisclosure"].actor-wrapper {
    [data-style-id="detail-view"][data-style-actor-name="BrRateEstimatePageDisclosure"] {
      [data-style-id="field"][data-style-field-name="I_Consent_To_The_Above_rate"] {
        label {
          background-color: transparent !important;
        }
      }
      > div:first-child {
        > div:nth-child(n + 2) {
          // padding-bottom: 1.2rem;
          [data-style-id="disclosure"] {
            margin-left: 1rem;
            .description {
              display: none;
            }
            label.MuiFormControlLabel-root {
              background-color: transparent;
              > span.MuiCheckbox-root {
                display: none;
              }
              > span.MuiTypography-root.MuiFormControlLabel-label {
                padding-left: 5rem;
                padding-bottom: 1.2rem;

                .confirmation {
                  font-family: "Roboto";
                  font-weight: lighter !important;
                  font-size: 1.6rem;
                }
              }
            }
          }
        }
      }
      > div.toolbar-at-bottom {
        margin-top: 4rem;
      }
    }
  }

  [data-style-field-name="Gender"] {
    margin-top: 1.6rem !important;
    padding: 0 !important;
    legend.MuiFormLabel-root.Mui-required {
      font-size: 1.6rem !important;
      font-weight: 400 !important;
      font-family: "Roboto";
      color: $color-black-text;
    }
    .MuiGrid-root.MuiGrid-container {
      display: flex;
      flex-direction: row;
      flex-flow: row;
      padding: 0 !important;
    }
  }
  [data-style-field-name="I_Consent_To_The_Above_rate"],
  [data-style-field-name="I_Consent_To_The_Above_rate2"],
  [data-style-field-name="I_Consent_To_The_Above_rate3"],
  [data-style-field-name="I_Request_To_Nominate"],
  [data-style-field-name="I_Read_And_Understand"],
  [data-style-field-name="Disclosure_Three"],
  [data-style-field-name="Disclosure_Four"],
  [data-style-field-name="I_Consent_To_The_Above_Higher_Loan"],
  [data-style-field-name="hide1"],
  [data-style-field-name="hide2"],
  [data-style-field-name="I_Agree_To_The_Above_Conditions"],
  [data-style-field-name="I_Authorise_to_Credit_Report"] {
    div.MuiFormControl-root {
      & > label {
        display: flex;
        align-items: flex-start;

        span.MuiFormControlLabel-label {
          padding-top: 0.6rem !important;
          p {
            font-family: "Roboto";
            font-weight: lighter !important;
            font-size: 1.6rem;
          }
        }
      }
    }
  }

  [data-style-id="grid-container"] {
    [data-style-id="field"].radiobuttons {
      outline: none !important;
      fieldset.MuiFormControl-root {
        outline: none !important;
        padding-top: 1.3rem;
        div.MuiFormGroup-root {
          outline: none !important;
          div.MuiGrid-root.MuiGrid-container {
            margin: 0;
            outline: none !important;
            width: 100% !important;
            div.MuiGrid-root.MuiGrid-item {
              padding-right: 5px;
              padding-left: 0 !important;
              label {
                width: 100% !important;
                margin-right: 5px !important;
                margin-left: 0 !important;
                span.MuiButtonBase-root {
                  padding: 0;
                  border: 0.2rem solid $color-inactive;
                  background: white;
                  border-radius: 0.3rem;
                  // width: 8.6rem;
                  width: 100% !important;
                  height: 5.2rem;
                  &.Mui-checked {
                    border: 2px solid $color-primary;
                    background: $color-table-rate-estimate;
                  }
                  span.MuiIconButton-label {
                    div {
                      opacity: 0;
                    }
                    &::after {
                      display: none;
                    }
                  }
                }
                span.MuiTypography-root {
                  margin-top: 0rem;
                  height: fit-content;
                  color: $color-charcoal;
                  font-size: 1.4rem;
                  z-index: 9;
                  font-family: Roboto;
                  position: absolute;
                  display: block;
                  width: 8.5rem;
                  width: 100% !important;

                  line-height: 0 !important;
                  li.MuiListItem-root {
                    padding: 0;
                    div.MuiListItemText-root {
                      display: flex;
                      flex-direction: row;
                      justify-content: center;
                      width: 12rem;
                      span.MuiTypography-root {
                        display: block;
                        text-align: right;
                        width: 12rem;
                        font-weight: 100 !important;
                      }
                    }
                  }
                }
                span.MuiTypography-root.MuiFormControlLabel-label.MuiTypography-body1 {
                  // width: auto !important;
                  width: 24% !important;
                }
                span.MuiButtonBase-root {
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
  [data-style-id="field"][data-style-field-name="Please_specify"] {
    padding-top: 4rem !important;
  }
  [data-style-id="field"] {
    label {
      background-color: $color-white !important;
    }
  }
  [data-style-id="field"][data-style-field-name="I_Dont_Have_A_Drivers_License"] {
    label.MuiFormControlLabel-root {
      .MuiTypography-root.MuiFormControlLabel-label.MuiTypography-body1 {
        p {
          font-weight: 100 !important;
          font-size: 1.6rem !important;
        }
      }
    }
  }

  [data-style-section-name="IDLicenseSection"][data-style-id="grid-container"] {

    [data-style-id="section-title"] {

      & > span.fa.fa-info-circle {

        padding-right: 4px;

        color:$color-black ;

      }

      font-weight: 400 !important;

      font-size: 15px !important;

      cursor: pointer;

      font-family: "Roboto" !important;

      color: #0046aa !important;

    }

 }

  [data-style-section-name="IDLicenseSection"][data-style-id="grid-container"] {

    [data-style-id="section-title"] {

      & > span.fa.fa-info-circle {

        padding-right: 4px;

        color: $color-black ;

      }

      font-weight: 400 !important;

      font-size: 15px !important;

      cursor: pointer;

      font-family: "Roboto" !important;

      color: #0046aa !important;

    }

  }
  [data-style-actor-name="BrRateEstimatePageContainer"].actor-wrapper,
  [data-style-actor-name="BrPersonalContainer"].actor-wrapper {
    [data-style-section-name="Manual_Address_Section"][data-style-id="grid-container"] {
      display: none !important;
    }

    [data-style-section-name="addressSection"] {
      [data-style-field-name="Manual_Address_Flag"] {
        .MuiFormControl-root {
          .MuiTypography-root.MuiFormControlLabel-label.MuiTypography-body1 {
            p {
              font-weight: 100 !important;
              font-size: 1.6rem !important;
            }
          }
        }
      }
    }
  }

  .MuiButton-label {
    .fa.fa-user-circle-o.ud-user-icon {
      padding-left: 1rem;
    }
  }

  .MuiButton-contained {
    box-shadow: none !important;
    // background-color:white !important;
  }

  .MuiToolbar-root.MuiToolbar-regular.toolbar-at-bottom.MuiToolbar-gutters {
    display: flex;
    justify-content: center;
    align-items: center;
    .MuiButtonBase-root.MuiButton-root.MuiButton-contained.action.position-bottom-left.MuiButton-containedSecondary.MuiButton-containedSizeLarge.MuiButton-sizeLarge {
      padding: 1rem 8rem;
      border-radius: 0.4rem;
    }
  }

  [data-style-field-name="Expire_Date__c"] {
    margin-top: -1.8rem !important;
    font-weight: 500;
    &::before {
      content: "Policy expiry";
    }
  }

  [data-style-field-name="BirthDate"] {
    margin-top: -1.8rem !important;
    font-weight: 500;
    &::before {
      content: "Date of birth";
    }
  }

  .MuiToolbar-root.MuiToolbar-regular.toolbar-at-bottom.MuiToolbar-gutters {
    [data-style-action-name="get_rate"] {
      max-width: 31.2px !important;
      min-width: 31.2px !important;
    }
  }
}

[data-style-id="base-panel"][data-style-actor-name="BrAddressNumberData"],
[data-style-id="detail-view"][data-style-actor-name="BrErrorMessagesDetails"] {
  button {
    margin-left: 0 !important;
  }
}

// Start Application Page



[data-style-actor-name="BrStartApplicationContainer"],
[data-style-actor-name="BrHigherEligible"],
[data-style-actor-name="BrCalculatorContainer"],
[data-style-actor-name="BrUpdateLoanInfoPopupDetails"] {
  [data-style-actor-name="BrStartApplication"],
  [data-style-actor-name="BrHigherEligibleLoan"],
  [data-style-actor-name="BrIncomeBankCalculate"],
  [data-style-actor-name="BrUpdateLoanInfoDetails"] {
    .MuiToolbar-root.MuiToolbar-regular.toolbar-at-top.MuiToolbar-gutters {
      text-align: center !important;
      display: flex !important;
      justify-content: center !important;
    }
    div.MuiToolbar-root.MuiToolbar-regular.toolbar-at-bottom.MuiToolbar-gutters {
      //display: none;
    }

    [data-style-id="title"] {
      font-family: Montserrat !important;
      font-size: 3.2rem !important;
      flex-grow: 1 !important;
      font-weight: 500 !important;
      text-align: center !important;
    }
    [data-style-id="subtitle"],
    .subtext {
      flex-grow: 1 !important;
      font-family: "Roboto" !important;
      font-size: 1.8rem !important;
      text-align: center !important;
      font-weight: lighter !important;
      padding: 0.5rem 6rem !important;
      margin-bottom: 2rem !important;
    }
    [data-style-id="section-title"] {
      font-size: 2.4rem !important;
      padding-left: 1.2rem !important;
    }

    .MuiFormControl-root.MuiTextField-root.MuiFormControl-marginNormal {
      margin: 0 !important;
      align-items: center !important;
      display: grid !important;
      grid-template-columns: [start] 50% [middle] 50% [end] !important;
      outline: none !important;
      & > p {
        margin-left: 100% !important;
        width: 100% !important;
      }

      .MuiInputBase-root.MuiOutlinedInput-root {
        border: 1px solid $color-input-border;

        fieldset {
          margin-left: auto;
          margin-top: 0;
          padding: 0;
          outline: none !important;
          border: none !important;
        }
      }

      label {
        position: relative;
        font-family: "Roboto";
        font-size: 1.6rem;
        font-weight: 100;
        transform: none !important;
        outline: none;
      }
    }

    [data-style-field-name="Repayment"],
    [data-style-field-name="IndicativeRate"],
    [data-style-field-name="Application_Fee"],
    [data-style-field-name="Monthly_Administration_Fee"],
    [data-style-field-name="Asset_Age"],
    [data-style-field-name="Asset_Type"],
    [data-style-field-name="Other_Fees"],
    [data-style-field-name="Other_Fees__c"],
    [data-style-field-name="Loan_EMI__c"]
     {
      .MuiFormControl-root.MuiTextField-root.MuiFormControl-marginNormal {
        .MuiInputBase-root.MuiOutlinedInput-root {
          border: none !important;
          .MuiSelect-root{
            cursor: not-allowed !important;
          }
          svg{
            display: none;
          }
        }
      }
    }

    [data-style-field-name="IndicativeRate"]{
      .MuiFormControl-root{
        .MuiInputBase-root{
          div.MuiInputAdornment-root{
            padding-right : 32rem;
          }
        }
      }
    }
  }
  [data-style-id="base-panel"][data-style-actor-name="BrStartApplicationBtn"],
  [data-style-id="base-panel"][data-style-actor-name="BrHigherEligibleBtn"] {
    & > div:first-child {
      display: flex;
      flex-direction: column;
      width: 32rem;
      align-items: flex-start;
      margin: 3rem auto !important;
      margin-bottom: 2rem !important;
      button {
        font-family: "Roboto" !important;
        font-weight: 100 !important;
        color: #006aff !important;
        font-size: 1.4rem !important;
      }
      button[data-style-action-name="FeesChargesBtnMotor"]{
        margin-left: 5rem;
      }
    }
    div.MuiToolbar-root.MuiToolbar-regular.toolbar-at-bottom.MuiToolbar-gutters {
      display: flex;
      flex-direction: column;
    }
  }
  [data-style-actor-name="BrStartApplicationBtn"],
  [data-style-actor-name="BrHigherEligibleBtn"] {
    .MuiPaper-root.MuiPaper-elevation0.MuiPaper-rounded {
      .MuiToolbar-root.MuiToolbar-regular.toolbar-at-bottom.MuiToolbar-gutters {
        display: flex;
        justify-content: center;
        align-items: center;
        .MuiButtonBase-root.MuiButton-root.MuiButton-contained.action.position-bottom-left.MuiButton-containedSecondary.MuiButton-containedSizeLarge.MuiButton-sizeLarge {
          background-color: $color-secondary-background !important;
          padding: 1rem 8rem;
          border-radius: 4px;
        }
      }

      .MuiToolbar-root.MuiToolbar-regular.toolbar-at-top.MuiToolbar-gutters {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
.popup-icon-btn {
  color: $color-link-color !important;
  text-transform: none !important;
}
[data-style-id="action"][data-style-action-name="print"] {
  font-family: "Roboto" !important;
  font-weight: 100 !important;
  color: #006aff !important;
  font-size: 1.4rem !important;
  margin-bottom: 1.5rem !important;
  margin-top: 1.5rem !important;
}

[data-style-id="app"]:not([data-client="phone"])
  [data-style-id="static-content"] {
  padding: 0 !important;
}

[data-style-id="app"]:not([data-client="phone"])
  [data-style-id="static-content"] {
  padding: 0 !important;
}

//fees and charge popup
[data-style-id="static-content"][data-style-actor-name="BrFeesAndCharges"] {
  .MuiTypography-root.MuiTypography-body1 {
    h3 {
      text-align: center;
      font-family: "Montserrat";
      font-weight: 600 !important;
      color: #000;
      text-align: left;
      margin-left: 2rem;
    }
    & > div {
      padding: 0rem 2rem !important;
      margin-top: 3rem;
      margin-bottom: 2rem;
      & > div {
        margin-bottom: 2rem;
        h5 {
          font-size: 1.5rem !important;
        }
      }
      p {
        // padding-left: 1rem;
        font-weight: 100;
        padding: 0;
        font-size: 1.4rem;
      }
    }
  }
}
.extra-pay {
  span {
    font-weight: 100;
  }
}
.term-fee {
  margin-bottom: 0 !important;
}
//fixed vs varianle popup
[data-style-id="static-content"][data-style-actor-name="BrVariableVsFixed"] {
  .MuiTypography-root.MuiTypography-body1 {
    h3 {
      text-align: center;
      font-family: "Montserrat";
      font-weight: 600 !important;
      color: #000 !important;
      text-align: left;
      margin-left: 2rem;
    }
    & > div {
      padding: 0rem 2rem !important;
      font-size: 1.4rem;
      margin-top: 2rem !important;
      margin-bottom: 2rem !important;
      > span {
        font-size: 1.6rem !important;
        font-weight: 100 !important;
      }
    }
    .fixed-loan {
      margin-top: 1.5rem !important;
      margin-left: 0 !important;

      span {
        font-size: 1.7rem !important;
        font-weight: 500 !important;
      }
      li:first-child {
        margin-top: 1.5rem;
      }
      li {
        // margin-left: 3rem;
        margin-top: 1rem;
        /* margin-left: 1rem; */
        /* padding-left: 1rem; */
        padding-left: 1rem;
      }
    }
  }
}

//Multiple application Page
[data-style-actor-name="BrMultipleApplicationContainer"] {
  [data-style-actor-name="BrMultipleApplicationTab"] {
    .MuiPaper-root.MuiPaper-elevation0.MuiPaper-rounded {
      [data-style-id="tabs"] {
        .MuiTabs-root.tab-bar {
          .MuiTabs-flexContainer {
            display: grid;
            grid-template-columns: 50% 50%;
          }
        }
      }
    }
  }
  [data-style-actor-name="BrMultipleApplicantOne"] {
    [data-style-section-name="Manual_Address_Section"] {
      display: none;
    }
  }

  [data-style-id="base-panel"][data-style-actor-name="BrMultipleApplicationButtons"] {
    /*
    .MuiPaper-root.MuiPaper-elevation0.MuiPaper-rounded {
     .MuiToolbar-root.MuiToolbar-regular.toolbar-at-bottom.MuiToolbar-gutters {
     display: flex;
     justify-content: center;
     align-items: center;
    [data-style-action-name="continue"] {
    max-width: 312px;
     min-width: 312px !important;
     }
      }
     }
    */
  }
}

//BrEmployment
[data-style-actor-name="BrEmploymentContainer"] {
  [data-style-id="tab-step-container"][data-style-actor-name="BrEmploymentTab"] {
    .MuiTabs-root.tab-bar {
      display: none !important;
    }
  }
  [data-style-actor-name="BrEmploymentTab"] {
    .MuiPaper-root.MuiPaper-elevation0.MuiPaper-rounded {
      [data-style-id="tabs"] {
        .MuiTabs-flexContainer {
          display: grid;
          grid-template-columns: 50% 50%;
        }
        [data-style-id="tab-step-body"] {
          [data-style-actor-name="BrEmployment"],
          [data-style-actor-name="BrIncome"],
          [data-style-actor-name="BrOtherAdditionalIncome"] {
            [data-style-field-name="Recieve_Government_Allowance_or_Pension"],
            [data-style-field-name="Receive_Additional_Income"],
            [data-style-field-name="Expected_Circumstantial_Change"] {
              legend.MuiFormLabel-root {
                color: $color-black !important;
              }
            }
          }
          [data-style-actor-name="BrAdditionalIncome"] {
            & > div:first-child {
              & > [data-style-id="grid-container"] {
                display: grid !important;
                grid-template-columns: 50% 50% !important;
              }
            }
            [data-style-id="action"][data-style-action-name="removeNormal"],
            [data-style-id="action"][data-style-action-name="removeNormals"],
            [data-style-id="action"][data-style-action-name="removeSubmit"],
            [data-style-id="action"][data-style-action-name="removeSubmits"] {
              color: red !important;
              border: none !important;
            }
            [data-style-id="action"][data-style-action-name="AddBtn"] {
              min-width: 15.6rem !important;
              border-radius: 50px !important;
            }
          }
          [data-style-actor-name="BrIncome"],
          [data-style-actor-name="BrOtherAdditionalIncome"] {
            [data-style-field-name="Recieve_Government_Allowance_or_Pensio__c"],
            [data-style-field-name="Receive_Additional_Income__c"],
            [data-style-field-name="Expected_Circumstantial_Change__c"] {
              fieldset.MuiFormControl-root {
                padding-left: 0 !important;
              }
              legend.MuiFormLabel-root {
                color: $color-black !important;
              }
              [aria-label="Recieve Government Allowance or Pensio"],
              [aria-label="Receive Additional Income"],
              [aria-label="Expected Circumstantial Change"] {
                > div {
                  > div {
                    // flex-basis: 10%;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  [data-style-section-name="EmploymentDetails"][data-style-id="grid-container"] {
    padding-bottom: 0 !important;
  }
  [data-style-section-name="EmploymentOldDetails"][data-style-id="grid-container"] {
    padding-top: 0 !important;
  }

  [data-style-actor-name="BrEmploymentButtons"] {
    .MuiPaper-root.MuiPaper-elevation0.MuiPaper-rounded {
      .MuiToolbar-root.MuiToolbar-regular.toolbar-at-bottom.MuiToolbar-gutters {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
.total_montly_expenses_title {
  margin-bottom: 1rem !important;
}

//BrExpense
p.MuiFormHelperText-root.MuiFormHelperText-contained.Mui-required {
  font-weight: 100 !important;
  color: $color-black  !important;
  font-family: "Roboto" !important;
}
[data-style-field-name="Current_Living_Situation__c"][data-style-id="field"] {
  fieldset {
    padding-top: 0 !important;
    > .MuiFormGroup-root {
      display: none !important;
    }
    > legend.MuiFormLabel-root {
      text-align: center;
      color: red;
      font-weight: 100 !important;
      font-size: 1.8rem !important;
    }
  }
}

[data-style-field-name="MonthlyInvestment__c"][data-style-id="field"] {
  margin-top: 1rem !important;
}

[data-style-actor-name="BrExpenseQuery"],
[data-style-actor-name="BrIncome"] {
  div.MuiToolbar-root.MuiToolbar-regular.toolbar-at-bottom.MuiToolbar-gutters {
    display: none !important;
  }
}

[data-style-actor-name="BrExpensesContainer"] {
  [data-style-id="field"][data-style-field-name="Name"] {
    display: none;
  }
  [data-style-id="detail-view"][data-style-actor-name="BrExpenseQuery"] {
    [data-style-section-name="expenses"] {
      padding-bottom: 0rem !important;
    }
    [data-style-section-name="expensesTwo"] {
      padding-top: 0rem !important;
    }
    [data-style-section-name="monthlyRent"] {
      [data-style-id="section-title"] {
        font-size: 1.3rem !important;
        font-family: "Roboto" !important;
        margin-left: 50%;
        color: red !important;
        margin-top: -3.6rem;
      }
      [data-style-field-name="ExpenseFood__c"] {
        display: none !important;
      }
    }
    [data-style-id="field"][data-style-field-name="CS_Household_Expense_Check__c"],
    [data-style-id="field"][data-style-field-name="Do_you_have_any_credit_card__c"],
    [data-style-id="field"][data-style-field-name="Do_you_own_an_investment_property__c"] {
      padding-top: 0px !important;
      legend.MuiFormLabel-root {
        color: $color-black !important;
      }
      [aria-label="CS Household Expense Check"],
      [aria-label="Do you have any credit card"],
      [aria-label="Do you own an investment property"] {
        & > div {
          & > div {
            // flex-basis: 10%;
            label {
              span.MuiButtonBase-root {
                width: 10.6rem !important;
              }
            }
          }
        }
      }
    }
    [data-style-id="field"][data-style-field-name="Do_you_have_any_credit_card__c"] {
      margin-top: 1.5rem !important;
    }
    [data-style-section-name="total_living_expense"].MuiGrid-root.section.MuiGrid-container.MuiGrid-spacing-xs-3 {
      h3 {
        box-shadow: 0 0 4px $color-box-shadow;
        padding: 2rem !important;
      }
      .total_living {
        display: flex;
        flex-direction: column;
        > span {
          text-align: center;
          font-family: "Roboto" !important;
        }
        > span:first-child {
          font-size: 2rem;
          margin-bottom: 1.5rem !important;
        }
        > span:nth-child(2) {
          font-weight: 400 !important;
        }
      }

      padding: 2rem !important;
    }
  }

  [data-style-id="detail-view"][data-style-actor-name="BrCreditCardOption"],
  [data-style-id="detail-view"][data-style-actor-name="BrOtherLoans"] {
    [data-style-id="field"][data-style-field-name="Do_you_have_any_credit_card__c"],
    [data-style-id="field"][data-style-field-name="Do_you_have_any_other_loans__c"] {
      legend.MuiFormLabel-root {
        color: $color-black !important;
      }
      [aria-label="Do you have any credit card"],
      [aria-label="Do you have any other loans"] {
        & > div {
          & > div {
            // flex-basis: 10%;
            label {
              span.MuiButtonBase-root {
                width: 10.6rem !important;
              }
              span.MuiTypography-root {
                // padding-left: 1.2rem !important;
              }
            }
          }
        }
      }
    }
  }
  [data-style-id="detail-view"][data-style-actor-name="BrOtherLoans"] {
    & > div.toolbar-at-bottom {
      display: none !important;
    }
    h3 {
      padding-left: 1.6rem !important;
    }
    [data-style-section-name="other_loans"] {
      fieldset {
        // padding-left: 0.3rem !important;
      }
      [data-style-field-name="Do_you_have_any_other_loans__c"] {
        padding-left: 1.8rem;
      }
    }
  }
  [data-style-id="card-view"][data-style-actor-name="BrCreditCardDetails"],
  [data-style-id="card-view"][data-style-actor-name="BrOtherLoansDetails"] {
    & > div:first-child {
      & > [data-style-id="grid-container"] {
        display: grid !important;
        grid-template-columns: 50% 50% !important;
      }
    }

    [data-style-id="card-entry"].MuiPaper-root.MuiCard-root.MuiPaper-elevation1.MuiPaper-rounded {
      box-shadow: 0 0 4px $color-box-shadow !important;
    }
    .MuiToolbar-root.MuiToolbar-regular.toolbar-at-bottom.MuiToolbar-gutters {
      justify-content: flex-start !important;
    }
    [data-style-id="field"][data-style-field-name="Credit_Card_Paid_in_Full__c"] {
      legend.MuiFormLabel-root {
        color: $color-black !important;
      }
      fieldset.MuiFormControl-root {
        padding-left: 0 !important;
      }
    }
    [aria-label="Did you pay off your credit cards in full last month?"] {
      div.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-3 {
        flex-direction: row;
        & > div {
          // flex-basis: 10%;
        }
      }
    }
    button {
      min-width: 15.6rem !important;
      border-radius: 50px !important;
      .MuiButton-label {
        & > span {
          display: flex;
          justify-content: center;
          align-items: center;
          i {
            padding-left: 0.5rem !important;
          }
        }
      }
    }
  }
  [data-style-section-name="text_show"][data-style-id="grid-container"] {
    background-color: #e5e4fc;
    margin: 2rem !important;
    [data-style-id="section-title"] {
      .living_expense_disclamer {
        & > span:first-child {
          p {
            text-align: center !important;
          }
        }
        & > span:last-child {
          padding-top: 1.5rem !important;
          display: flex;
          flex-direction: column !important;
          justify-content: flex-start !important;
          width: fit-content !important;
          margin: 1.5rem auto !important;
          font-size: 1.6rem !important;
          font-family: "Roboto" !important;
        }
      }
    }
  }
}

//BR QuickQuote Failed
.fa-envelope-open-o {
  font-size: 4rem !important;
}
.failed-text {
  min-height: 45rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.8rem;
  width: 670px;
  margin: 0% 15%;
}
.failed-details {
  margin: 2rem !important;
  text-align: center;
  font-weight: 100 !important;
  font-size: 1.8rem !important;
}

//BR CONFIRMATION
[data-style-actor-name="BrConfirmationcontainer"] {
  .description {
    display: none;
  }
}
[data-style-actor-name="BrConfirmationcontainer"] {
  .confirmation {
    // ul {
    //   list-style: none !important;
    &::before {
      content: "•";
      color: $color-disclosure-li;
      display: inline-block;
      font-size: 2rem !important;
      width: 1em;
      margin-left: -1em;
    }
    // }
  }
}
[data-style-section-name="Security_Type"][data-style-id="grid-container"] {
  padding-bottom: 0 !important;
}
[data-style-section-name="Security_Type_Two"][data-style-id="grid-container"] {
  padding-top: 0 !important;
}
[data-style-field-name="I_Acknowledge_To_The_Above"],
[data-style-field-name="I_Consent_To_The_Above_Identity"],
[data-style-field-name="I_Consent_To_The_Above_Higher_Loan"],
[data-style-field-name="I_Consent_To_The_Above_rate"],
[data-style-field-name="I_Request_To_Nominate"],
[data-style-field-name="I_Read_And_Understand"],
[data-style-field-name="hide1"],
[data-style-field-name="hide2"] {
  p.MuiTypography-root.MuiTypography-body1 {
    margin-top: 0.3rem !important;
  }
}

[data-style-actor-name="BrIdentityDetails"][data-style-id="static-content"],
[data-style-actor-name="BrCreditReportDetails"][data-style-id="static-content"] {
  div.MuiTypography-root.MuiTypography-body1 {
    padding: 2rem !important;
    h4 {
      font-size: 2rem !important;
      font-family: "Montserrat" !important;
    }
    p {
      font-weight: 100 !important;
      font-size: 1.5rem !important;
      margin-top: 1.5rem !important;
    }
  }
}
.popupList {
  font-weight: 100 !important;
  // margin-left: 1rem !important;
  list-style: none;
  li::before {
    /*
    content: "•";
    font-weight: bold;
    display: inline-block;
    width: 1rem;
    position: absolute;
    font-size: 1.7rem;
    left: 1.8rem;
    color: #82c6ff;*/
    content: "";
    color: #63b8ff;
    display: inline-block;
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    background-color: #63b8ff;
    margin-right: 1rem;
    margin-bottom: 0.1rem;
  }
}
.anchor-tag {
  font-weight: 100;
  color: #006aff !important;
  text-decoration: underline !important;
  cursor: pointer;
}

[data-style-actor-name="BrConfirmationFour"][data-style-id="base-panel"] {
  [data-style-id="text-after"].MuiTypography-root.text-after.MuiTypography-body1 {
    height: 0.5rem !important;
    margin-bottom: 0 !important;
  }
  a {
    color: #006aff !important;
    text-decoration: underline !important;
    cursor: pointer;
  }
  [data-style-field-name="hide1"],
  [data-style-field-name="hide2"] {
    background-color: #ececec;
    padding-left: 5.5rem !important;
    // background-color: #ececec !important;
    // label {
    //   background-color: transparent !important;
    // }
    label {
      background-color: transparent !important;
      > span:first-child {
        display: none !important;
      }
    }
  }
  .creditReport,
  .DocIssue {
    font-family: "Roboto";
    font-weight: lighter !important;
    font-size: 1.6rem;
  }
  .creditReport {
    position: relative;
    top: -29.5rem;
    left: 7.5rem;

    @media (max-width: 1397px) {
      top: -32rem;
    }
    @media (max-width: 1305px) {
      top: -34.5rem;
    }
    @media (max-width: 1129px) {
      top: -37rem;
    }
    @media (max-width: 1069px) {
      top: -39.2rem;
    }
  }

  .DocIssue {
    position: relative;
    top: -23rem;
    left: 7.5rem;
    @media (max-width: 1397px) {
      top: -25.5rem;
    }
    @media (max-width: 1305px) {
      top: -27.5rem;
    }
    @media (max-width: 1129px) {
      top: -30rem;
    }
    @media (max-width: 1069px) {
      top: -32.5rem;
    }
  }
  [data-style-field-name="I_Authorise_to_Credit_Report"],
  [data-style-field-name="I_Agree_To_The_Above_Conditions"] {
    background-color: #ececec;
    padding-left: 4.7rem;
    label {
      background-color: transparent !important;
      > span:nth-child(2).MuiTypography-root.MuiFormControlLabel-label.MuiTypography-body1 {
        padding-top: 4rem !important;
        p {
          color: gray;
          font-style: italic;
          font-weight: 100 !important;
        }
      }
    }
  }
}

[data-style-actor-name="BrConfirmationThree"][data-style-id="base-panel"] {
  [data-style-field-name="I_Consent_To_The_Above_Higher_Loan"][data-style-id="field"] {
    background-color: #ececec;
    label {
      background-color: transparent !important;
    }
  }
}
[data-style-actor-name="BrConfirmationTwo"].actor-wrapper,
[data-style-actor-name="BrConfirmationTwoAuto"].actor-wrapper,
[data-style-actor-name="BrConfirmations"],
[data-style-actor-name="BrConfirmationThree"] {
  [data-style-actor-name="BrConfirmationTwo"][data-style-id="base-panel"],
  [data-style-actor-name="BrConfirmationTwoAuto"][data-style-id="base-panel"] {
    div.MuiToolbar-root.MuiToolbar-regular.toolbar-at-bottom.MuiToolbar-gutters {
      display: none;
    }
    [data-style-id="title"] {
      font-family: "Montserrat" !important;
      flex-grow: 1 !important;
      font-weight: lighter !important;
      font-size: 2.4rem !important;
      text-align: left !important;
      // color: #414141 !important;
      padding-left: 0.6rem !important;
    }
    & > div:nth-child(2) {
      border-radius: 5px;
      // padding-top: 2rem !important;
      [data-style-section-name="ConfirmationSection"] {
        padding-bottom: 0 !important;
      }
      & > div:first-child {
        [data-style-field-name="I_Consent_To_The_Above_Higher_Loan"] {
          margin-bottom: 1rem !important;
          margin-top: 1rem !important;
        }
        [data-style-section-name="ConfirmationSection"] {
          & > div {
            background-color: #ececec;

            div.MuiFormControl-root {
              & > label {
                display: flex;
                align-items: flex-start;
                background-color: transparent !important;

                span.MuiFormControlLabel-label {
                  padding-top: 0.6rem !important;
                  p {
                    font-family: "Roboto";
                    font-weight: lighter !important;
                    font-size: 1.6rem;
                  }
                }
              }
            }
          }
        }
      }

      & > div:not(:first-child) {
        background-color: #ececec !important;
        margin-left: 1rem !important;
        [data-style-id="disclosure"] {
          .confirmation {
            padding-left: 6.5rem;
          }
          label.MuiFormControlLabel-root {
            .MuiCheckbox-root {
              display: none;
            }
          }
        }
      }
      // background: $color-sidebar-background !important;
      margin-bottom: 1.5rem !important;
      [data-style-id="disclosure"] {
        .MuiFormControlLabel-root {
          margin-left: 1rem !important;
        }
        .description {
          padding: 0;
          border: none;
        }
        label.MuiFormControlLabel-root {
          background: transparent !important;
          .confirmation {
            font-family: "Roboto";
            font-weight: lighter !important;
            font-size: 1.6rem;
          }
        }
      }
    }
  }
}
// [data-style-actor-name="BrConfirmationTwo"].actor-wrapper {
//       [data-style-actor-name="BrConfirmationTwo"][data-style-id="base-panel"]{
//         >div{
//           border-radius: 4px;
//           >div:not(:first-child){
//             [data-style-id="disclosure"]{
//               .confirmation{
//                 padding-left: 6.5rem;
//               }
//               label.MuiFormControlLabel-root{
//                 .MuiCheckbox-root{
//                   display: none;
//                 }
//               }
//             }
//           }
//           background: $color-sidebar-background;
//           [data-style-id="disclosure"] {
//             .MuiFormControlLabel-root {
//               margin-left: 1rem !important;
//             }
//             .description {
//               padding: 0;
//               border: none;
//             }
//             label.MuiFormControlLabel-root{
//               background: transparent !important;
//               .confirmation{
//                 font-size: 1.6rem;
//               }
//             }
//           }
//         }
//       }
//     }

// [data-style-actor-name="BrConfirmationcontainer"] {
//   .confirmation {
//       ul{
//       list-style: none !important;
//       li::before {content: "•"; color: $color-disclosure-li;
//         display: inline-block;
//         font-size: 2.0rem !important;
//         width: 1em;
//         margin-left: -1em}

//     }
//   }

//   [data-style-actor-name="Application notes"].actor-wrapper{
//     [data-style-actor-name="Application notes"][data-style-id="base-panel"]{
//       .record-content{
//         margin-left: 0;
//         [data-style-section-name="Application_Notes"]{
//           [data-style-id="section-title"]{
//             padding: 1rem 0 0;
//           }
//           [data-style-field-name="applicationNotes"]{
//             padding: 0;
//             margin: 1rem 0 4rem;
//           }
//         }
//       }
//     }
//   }
//   [data-style-actor-name="BrConfirmationOne"].actor-wrapper {
//     [data-style-actor-name="BrConfirmationOne"][data-style-id="base-panel"]{
//       margin: 0 0 2rem 0;
//       >div{
//         background: $color-sidebar-background;
//         border-radius: 4px;
//         .record-content{
//           div{
//             display: none;
//           }
//         }
//         [data-style-id="disclosure"] {
//           padding: 2rem 3rem;
//           .description{
//             padding: 0;
//             border: none;
//           }
//           label.MuiFormControlLabel-root{
//             background: transparent !important;
//             display:flex;
//             align-items: flex-start;
//             margin: 0;
//             span.MuiCheckbox-root{
//               padding:0;
//             }
//             .confirmation{
//               font-size: 1.6rem;
//               margin-left: 1rem;
//             }
//           }
//         }
//       }
//     }
//   }

//   [data-style-actor-name="BrConfirmationTwo"].actor-wrapper {
//     [data-style-actor-name="BrConfirmationTwo"][data-style-id="base-panel"]{
//       >div{
//         border-radius: 4px;
//         >div:not(:first-child){
//           [data-style-id="disclosure"]{
//             .confirmation{
//               padding-left: 6.5rem;
//             }
//             label.MuiFormControlLabel-root{
//               .MuiCheckbox-root{
//                 display: none;
//               }
//             }
//           }
//         }
//         background: $color-sidebar-background;
//         [data-style-id="disclosure"] {
//           .MuiFormControlLabel-root {
//             margin-left: 1rem !important;
//           }
//           .description {
//             padding: 0;
//             border: none;
//           }
//           label.MuiFormControlLabel-root{
//             background: transparent !important;
//             .confirmation{
//               font-size: 1.6rem;
//             }
//           }
//         }
//       }
//     }
//   }
//   [data-style-actor-name="BrConfirmationButtonPanel"].actor-wrapper{
//     [data-style-actor-name="BrConfirmationButtonPanel"][data-style-id="base-panel"]{
//       margin-top: 4rem;
//     }
//   }

// }

// [data-style-id="static-content"][data-style-actor-name="BrEligiblePopup"] {
.eligible-static {
  // text-align: center;
  padding: 0 2rem !important;
  b {
    font-size: 2rem !important;
    font-family: "Montserrat" !important;
    color: $color-black ;
  }
  p {
    padding-top: 2rem;
    font-size: 1.7rem;
    font-weight: 100;
  }
  ul {
    text-align: left !important;
    // padding-left: 4rem !important;
    font-size: 1.7rem !important;

    margin-left: 1.7rem;
    font-weight: 100;
    list-style: none;
    li::before {
      content: "•";
      font-weight: bold;
      display: inline-block;
      width: 1rem;
      position: absolute;
      font-size: 1.7rem;
      left: 1.8rem;
      color: #82c6ff;
    }
    li {
      padding-bottom: 0.5rem !important;
    }

    // padding-top: 2rem !important;
  }
}
// }

//Id Verification
[data-style-actor-name="BrIdVerificationContainer"].actor-wrapper {
  [data-style-actor-name="BrIdVerification"].actor-wrapper {
    [data-style-actor-name="BrIdVerification"][data-style-id="base-panel"] {
      [data-style-id="title"] {
        font-size: 2.4rem !important;
        text-align: left !important;
        margin: 0 !important;
        padding-left: 1rem !important;
      }
    }
  }
  [data-style-id="text-after"] {
    padding-left: 2.3rem !important;
  }
}

//Income Verification
[data-style-actor-name="BrSendLinkForIV"] {
  .send-popup {
    margin: 0 1.5rem 2rem 1.5rem !important;
  }
}
[data-style-id="list-view"][data-style-actor-name="BrApplicantConfirmPanel"] {
  tbody {
    tr {
      [data-style-id="list-actions"] {
        display: flex !important;
        justify-content: center;
      }
    }
  }
}
[data-style-actor-name="BrIncomeVerification"].actor-wrapper {
  .content-title {
    font-size: 1.8rem !important;
    color: $color-primary-light !important;
  }
  [data-style-id="title"] {
    text-align: left !important;
    font-size: 2.4rem !important;
  }
  [data-style-id="subtitle"] {
    text-align: left !important;
    padding-left: 0 !important;
  }
  .title-group {
    padding-left: 0 !important;
  }

  [data-style-actor-name="BrIncomeVerifyTitle"].actor-wrapper {
    [data-style-actor-name="BrIncomeVerifyTitle"][data-style-id="base-panel"] {
      .text-before {
        font-size: 1.6rem;
      }
    }
  }
  [data-style-actor-name="BrIllionBankVerifyId"].actor-wrapper {
    [data-style-actor-name="BrIllionBankVerifyId"][data-style-id="base-panel"] {
      border: 6px solid $color-table-rate-estimate !important;
      box-shadow: 0 0 4px $color-box-shadow !important;
      margin: 3rem 0;
      .title-group {
        [data-style-id="subtitle"] {
          margin: 0 !important;
        }
      }
      .record-content {
        margin-left: 0 !important;
        [data-style-section-name="BankIllionIDSection"] {
          justify-content: center;
          [data-style-field-name="Illion_Id"] {
            > div {
              margin: 0 0 0.8rem;
            }
            p.MuiFormHelperText-root {
              margin-left: 0;
            }
          }
        }
      }
      > div {
        &:first-child {
          margin-top: 2rem;
        }
        &:last-child {
          margin-bottom: 3rem;
        }
      }
    }
  }
  [data-style-actor-name="BrMogoPlusContent"].actor-wrapper {
    [data-style-actor-name="BrMogoPlusContent"][data-style-id="static-content"] {
      border: 6px solid $color-table-rate-estimate !important;
      box-shadow: 0 0 4px $color-box-shadow !important;
      padding: 3rem 1.6rem !important;
      margin: 3rem 0;
      div.MuiToolbar-root.MuiToolbar-regular.toolbar-at-top.MuiToolbar-gutters {
        padding-left: 0 !important;
      }

      > div {
        &:last-child {
          margin-bottom: 1rem;
        }
      }
    }
    button {
      margin-top: 2rem !important;
    }
  }
}
.content-description {
  font-size: 1.6rem;
  margin: 0.3rem 0;
  font-weight: 100 !important;
  color: #37444e !important;
}
.important {
  font-size: 1.6rem;
  margin: 2rem 0;
  font-weight: 100 !important;
}
.content-description,
.important {
  ul {
    margin-left: 2rem !important;
    list-style: none !important;
    li {
      margin-top: 1rem !important;
    }
    li::before {
      content: "•";
      color: $color-disclosure-li;
      display: inline-block;
      font-size: 2rem !important;
      width: 1em;
      margin-left: -1em;
    }
  }
}
[data-style-actor-name="BrUploadDocVerifyContent"].actor-wrapper {
  [data-style-actor-name="BrUploadDocVerifyContent"][data-style-id="static-content"] {
    border: 6px solid $color-table-rate-estimate !important;
    box-shadow: 0 0 4px $color-box-shadow !important;
    padding: 3rem 1.6rem !important;
    margin: 3rem 0;
    div.MuiToolbar-root.MuiToolbar-regular.toolbar-at-top.MuiToolbar-gutters {
      padding-left: 0 !important;
    }
    .content-description {
      font-size: 1.6rem;
      margin: 0.3rem 0;
    }
    .important {
      font-size: 1.6rem;
      margin: 2rem 0;
      ul {
        margin-left: 2rem;
      }
    }
    > div {
      &:last-child {
        margin-bottom: 1rem;
      }
    }
  }
}

//Document Upload

[data-style-actor-name="BrDocumentUpload"].actor-wrapper {
  [data-style-actor-name="BrAccordion"].actor-wrapper {
    [data-style-actor-name="BrAccordion"][data-style-id="tab-step-container"] {
      [data-style-id="title"] {
        text-align: left !important;
        font-size: 2.4rem !important;
      }
      div.MuiToolbar-root.MuiToolbar-regular.toolbar-at-top.MuiToolbar-gutters {
        padding-left: 0 !important;
      }
      [data-style-id="text-before"] {
        font-size: 1.6rem;
        padding: 0;
        margin: 0 0 2rem;
      }
      [data-style-id="accordion"] {
        .MuiExpansionPanel-root {
          margin: 2rem 0;
          box-shadow: none;
          .MuiExpansionPanelSummary-root {
            max-height: 5.5rem;
            min-height: 5.5rem;
            // background: #e6e6e6;
            background-color: $color-approve-background !important;
            font-weight: 700;
          }
          .MuiCollapse-root {
            border: 2px solid #e6e6e6;
            // border: 2px solid $color-approve-background;
            border-top: none;
            .MuiExpansionPanelDetails-root {
              padding: 2rem 2rem 1rem;
              [data-style-actor-name="BrloanApplicantAccord"].actor-wrapper {
                [data-style-actor-name="BrloanApplicantAccord"][data-style-id="static-content"] {
                  .impNote {
                    h5 {
                      margin-top: 0 !important;
                    }
                  }
                  .empcontract {
                    padding-bottom: 1rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  [data-style-actor-name="BrloanApplicantAccord"][data-style-id="static-content"],
  [data-style-actor-name="BrGovtBenAccord"][data-style-id="static-content"] {
    div.MuiTypography-root.MuiTypography-body1 {
      > div {
        > div::before {
          // content: "";
          // color: $color-disclosure-li;
          // display: inline-block;
          // // font-size: 2rem !important;
          // width: 1em;
          // height: 2rem;
          // border-radius: 50%;
          // background-color: yellow;
          // margin-left: -1em;
          content: "";
          color: #63b8ff;
          display: inline-block;
          width: 0.6rem;
          height: 0.6rem;
          border-radius: 50%;
          background-color: $color-disclosure-li;
          margin-right: 1rem;
          margin-bottom: 0.1rem;
        }
        > div {
          margin-top: 1rem;
        }
      }
    }
  }
  [data-style-actor-name="BrSecureAccordion"].actor-wrapper {
    [data-style-actor-name="BrSecureAccordion"][data-style-id="tab-step-container"] {
      [data-style-id="title"] {
        text-align: left !important;
        font-size: 2.4rem !important;
      }
      div.MuiToolbar-root.MuiToolbar-regular.toolbar-at-top.MuiToolbar-gutters {
        padding-left: 0 !important;
      }

      [data-style-id="text-before"] {
        font-size: 1.6rem;
        padding: 0;
        margin: 0 0 2rem;
      }
      [data-style-id="accordion"] {
        .MuiExpansionPanel-root {
          margin: 2rem 0;
          box-shadow: none;
          .MuiExpansionPanelSummary-root {
            max-height: 5.5rem;
            min-height: 5.5rem;
            background: #e6e6e6;
            font-weight: 700;
          }
          .MuiCollapse-root {
            border: 2px solid #e6e6e6;
            border-top: none;
          }
        }
      }
    }
    .doc_secured_heading {
      font-size: 1.4rem !important;
    }
    .doc_secured_list {
      padding-left: 2rem !important;
      font-size: 1.3rem !important;
    }
  }
  [data-style-actor-name="BrVerifyButton"] {
    [data-style-id="text-after"].MuiTypography-root.text-after.MuiTypography-body1,
    [data-style-id="text-before"].MuiTypography-root.text-before.MuiTypography-body1 {
      width: fit-content;
      // margin: 4rem auto !important;
      font-size: 1.4rem;
      padding: 0 32% !important;
      text-align: center;
      margin-bottom: 0 !important;
    }
  }
}
// [data-style-actor-name="BrVerifyButton"][data-style-id="base-panel"] {
//   [data-style-id="text-after"] {

//   }
// }
[data-style-id="detail-view"][data-style-actor-name="BrDocumentUploadBtn"],
[data-style-id="detail-view"][data-style-actor-name="MtInsuranceDocUploadBtn"],
[data-style-id="detail-view"][data-style-actor-name="MtSecurityDocUploadBtn"],
[data-style-id="detail-view"][data-style-actor-name="MtPayeeDocUploadBtn"],
[data-style-id="detail-view"][data-style-actor-name="MtReqDocumentUplaod"],
[data-style-id="detail-view"][data-style-actor-name="BrSupportingDocUpload"],
[data-style-id="detail-view"][data-style-actor-name="BrSupportCoBorrower"],
[data-style-id="detail-view"][data-style-actor-name="BrAgentRequiredDocUploadBtn"] {
  .MuiToolbar-root.MuiToolbar-regular.toolbar-at-top.MuiToolbar-gutters {
    .title-group {
      margin-top: 5rem !important;
      margin-bottom: 0 !important;
      //margin-left: 4rem;
      h1 {
        font-family: "Roboto" !important;
        font-size: 1.6rem !important;
        margin: 0 !important;
        text-align: left !important;
      }
      h2 {
        text-align: left !important;
        padding-left: 0 !important;
        padding-top: 0.8rem !important;
        font-size: 1.4rem !important;
        font-weight: 100 !important;
        padding-bottom: 0 !important;
      }
    }
  }
  .MuiToolbar-root.MuiToolbar-regular.toolbar-at-bottom.MuiToolbar-gutters {
    justify-content: flex-start;
    margin-left: 2.5rem !important;
    [data-style-action-name="UploadDocBtn"],
    [data-style-action-name="CoBorrUploadDocBtn"],
    [data-style-action-name="RequiredBrokerUploadDocBtn"] {
      [data-style-id="action"][role="button"] {
        border: none !important;
        .MuiButton-label {
          & > span {
            span {
              font-weight: 100 !important;
              color: $color-black !important;
              padding-left: 1rem !important;
            }
          }
        }
      }
    }
  }
}
[data-style-id="card-view"][data-style-actor-name="BrDocumentListView"],
[data-style-id="card-view"][data-style-actor-name="MtReqDocumentListView"],
[data-style-id="card-view"][data-style-actor-name="MtInsuranceDocListView"],
[data-style-id="card-view"][data-style-actor-name="MtSecurityDocListView"],
[data-style-id="card-view"][data-style-actor-name="MtPayeeDocListView"] {
  width: 90% !important;
  margin: 1rem auto !important;
  [data-style-id="card-entry"] {
    box-shadow: 0 0 4px $color-box-shadow !important;
  }
  [data-style-id="field"][data-style-field-name="docCat"] {
    padding-top: 0 !important;
  }
  [data-style-field-name="attachmentName"][data-style-id="card-view-value-entry"] {
    margin-bottom: 0 !important;
  }
}


[data-style-id="card-view"][data-style-actor-name="BrDocumentListView"],
[data-style-id="card-view"][data-style-actor-name="MtReqDocumentListView"],
[data-style-id="card-view"][data-style-actor-name="MtInsuranceDocListView"],
[data-style-id="card-view"][data-style-actor-name="MtSecurityDocListView"],
[data-style-id="card-view"][data-style-actor-name="MtPayeeDocListView"]
 {
  & > div {
    & > div {
      & > div {
        position: relative;
      }
    }
  }
  [data-style-id="field-label"] {
    display: none;
  }
  [data-style-id="card-view-value"] {
    color: $color-primary-light;
    padding-left: 2.5rem;
    // font-weight: 100 !important;
    font-size: 1.6rem !important;
  }
  [aria-haspopup="listbox"] {
    // background-color: $color-sidebar-background !important;
    font-weight: 100 !important;
  }
  [data-style-id="action"][data-style-action-name="ViewDocBtn"] {
    position: absolute;
    right: 8rem;
    top: 23px;
    // padding-right: 0.5rem !important;
    padding: 8px 0 !important;
    min-width: 50px;
    > span.MuiTouchRipple-root {
      width: fit-content !important;
    }
  }
  [data-style-id="action"][data-style-action-name="DeleteDocBtn"],
  [data-style-id="action"][data-style-action-name="DeleteDocBt"],
  [data-style-id="action"][data-style-action-name="InsuranceDeleteDoc"],
  [data-style-id="action"][data-style-action-name="SecurityDeleteDoc"]

  {
    position: absolute;
    right: 3rem;
    top: 2rem;
    // padding-left: 0 !important;
    margin-left: 0px !important;
    padding-left: 0px !important;
  }
  [data-style-id="action"][data-style-action-name="UpdateDocTypeBtn"] {
    position: absolute;
    top: 21px;
    right: 16rem;
  }
}
[data-style-id="static-content"][data-style-actor-name="BrSupportingDocumentHeader"] {
  margin-left: 1.6rem !important;
}
.support-header {
  h1 {
    text-align: left !important;
    font-size: 2.4rem !important;
    font-family: "Montserrat" !important;
    flex-grow: 1 !important;
    font-weight: 500 !important;
    color: #000 !important;
  }
  p {
    padding-top: 1rem !important;
    padding-bottom: 1.5rem !important;
    font-weight: 100 !important;
  }
  ul {
    margin-left: 2rem !important;
    list-style: none !important;
    li {
      font-weight: 100 !important;
    }
    li::before {
      content: "•";
      color: $color-disclosure-li;
      display: inline-block;
      font-size: 2rem !important;
      width: 1em;
      margin-left: -1em;
    }
  }
}
.padding-mid {
  padding-top: 0.8rem !important;
}

//Application confirm
[data-style-id="static-content"][data-style-actor-name="BrReviewContent"] {
  div.MuiToolbar-root.MuiToolbar-regular.toolbar-at-bottom.MuiToolbar-gutters {
    display: flex;
    flex-direction: column;
    margin-top: 3rem !important;
  }
}

// Loan Reject
[data-style-actor-name="BrAppRejectCont"].actor-wrapper {
  [data-style-id="static-content"][data-style-actor-name="BrLoanRejectContent"] {
    .message-container {
      text-align: center;
      .status-wrapper {
        .information {
          font-size: 1.5rem;
          padding-bottom: 1rem;
          text-align: center;
          font-weight: 400;
          margin-top: 2rem !important;
          & > p {
            font-size: 1.7rem !important;
            text-align: start;
          }
          & > div {
            font-size: 1.7rem;
            text-align: start;
          }
        }
      }
    }
  }
}
.decline-text {
  margin-top: 3rem !important;
  font-size: 2rem !important;
  text-align: center;
}
.status {
  font-family: "Montserrat";
  font-size: 2.8rem;
  padding-bottom: 1rem;
  text-align: center;
  font-weight: 600;
}

.loan-status {
  font-family: "Montserrat";
  font-size: 2.4rem;
  padding-bottom: 1rem;
  text-align: center;
  font-weight: 600;
}
//Loan Refer
[data-style-actor-name="BrAppReferCont"].actor-wrapper {
  [data-style-actor-name="BrAppRefer"].actor-wrapper {
    min-height: 40rem;
    div.MuiToolbar-root.toolbar-at-bottom {
      display: flex;
      flex-direction: column;
    }
  }
}
[data-style-id="static-content"][data-style-actor-name="BrAppRefer"],
[data-style-id="static-content"][data-style-actor-name="BrApprovalSendLinkDetails"] {
  height: inherit;
}
.message-container {
  margin: 10rem 10rem 5rem 10rem !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.info {
  font-size: 1.8rem;
  margin-top: 2.5rem !important;

  text-align: center !important;
  font-weight: 100 !important;
  & > div {
    margin-bottom: 1rem !important;
  }
  a {
    color: $color-link-color !important;
    text-decoration: underline !important;
  }
}
.fa-hand-o-up {
  font-size: 3.5rem !important;
}

//Context popup
[data-style-id="list-view"][data-style-actor-name="BrRepaymentAndDisbursalBankAccountQuerys"] {
  thead.MuiTableHead-root {
    display: none;
  }
  tbody.MuiTableBody-root {
    tr.clickable {
      cursor: pointer;
      > th {
        // padding: 0.5rem;
        > div {
          font-family: "Roboto";
          font-weight: 400 !important;
        }
      }
    }
  }
}

//Bank details
#BrRepaymentAndDisbursalBankAccountQuerys {
  // margin-left: 3.7rem !important;
  left: 11px !important;
  margin-top: 1rem !important;
}
[data-style-field-name="I_Request_To_Nominate"] {
  margin-bottom: 1rem !important;
}
[data-style-id="division"][data-style-actor-name="BrBankDetailsContainer"] {
  [data-style-id="title"] {
    text-align: left !important;
    font-size: 2.4rem !important;
  }
  [data-style-id="subtitle"] {
    text-align: left !important;
    font-size: 1.6rem !important;
    padding-left: 0 !important;
  }
  [data-style-actor-name="BrBankDetails"].actor-wrapper {
    [data-style-id="base-panel"][data-style-actor-name="BrBankDetails"] {
      [data-style-section-name="ConfirmationCheckSection"] {
        // padding-bottom: 0 !important;

        & > h3 {
          margin-bottom: 3rem;
        }
        & > div {
          background-color: #ececec;
          margin-bottom: 1rem !important;

          div.MuiFormControl-root {
            & > label {
              display: flex;
              align-items: flex-start;
              background-color: transparent !important;

              span.MuiFormControlLabel-label {
                padding-top: 0.6rem !important;
                p {
                  font-family: "Roboto";
                  font-weight: lighter !important;
                  font-size: 1.6rem;
                }
              }
            }
          }
        }
      }
      [data-style-id="disclosure"] {
        .description {
          display: none;
        }
        label {
          margin-left: 0.1rem !important;
          .confirmation {
            font-size: 1.6rem;
          }
        }
      }
      .MuiToolbar-root.MuiToolbar-regular.toolbar-at-bottom.MuiToolbar-gutters {
        margin-top: 2rem !important;
      }
    }
  }
}
[data-style-actor-name="BrNoMogoNoDebtConHeaders"] {
  [data-style-actor-name="BrNoMogoNoDebtConHeaders"][data-style-id="base-panel"] {
    div.MuiToolbar-regular.toolbar-at-bottom {
      display: none !important;
    }
  }
}
[data-style-id="list-view"][data-style-actor-name="BrOtherLoanDetailsListsViews"] {
  div.toolbar-at-bottom {
    display: none !important;
  }
  & > div:nth-child(2) {
    margin: 2rem !important;
    margin-bottom: 3rem !important;
  }
}
[data-style-id="field"][data-style-actor-name="BrBankDetails"] {
  div.MuiFormControl-root {
    p.MuiFormHelperText-root {
      margin: 0 !important;
    }
  }
}
[data-style-actor-name="BrBankDetails"][data-style-id="base-panel"] {
  div.toolbar-at-top.MuiToolbar-root {
    min-height: 0 !important;
  }
}
[data-style-action-name="OpenBankAccountList"] span span::before,
[data-style-action-name="OpenInterstRatePopups"] span span::before,
[data-style-action-name="OpenInterstRatePopupsApplication"] span span::before{
  content: "\f078";
  display: block;
  font-size: 1.5rem;
  position: relative;
  bottom: 0;
  font-family: "FontAwesome";
}
[data-style-id="field"][data-style-field-name="Bank_Account_Identifier__c"] {
  fieldset {
    margin-right: 4rem;
  }
}
[data-style-id="action"][data-style-action-name="OpenBankAccountList"] {
  position: absolute;
  top: 4.5rem;
  // z-index: 9999;
  z-index: 1;
  left: 37rem;
}

[data-style-id="action"][data-style-action-name="OpenInterstRatePopups"]{
  position: absolute;
  top: 35.5rem;
  z-index: 1;
  left: 55rem;

}
//Approve page
.popup-text {
  text-align: center !important;
  font-family: Montserrat !important;
  text-align: justify !important;
  line-height: 3rem !important;
}
[data-style-id="static-content"][data-style-actor-name="BrAppApprove"] {
  button.MuiButtonBase-root.MuiButton-containedSecondary {
    min-width: 22rem !important ;
    padding: 0 !important;
  }

  [data-style-id="action"][data-style-action-name="DownloadContract"] {
    margin-left: inherit !important;
  }
}
[data-style-id="list-view"][data-style-actor-name="BrAppApproverDetails"] {
  background-color: $color-approve-background !important;
  padding: 0rem 8rem !important;
  .MuiToolbar-root.MuiToolbar-regular.toolbar-at-bottom.MuiToolbar-gutters{
    margin-bottom: 0rem !important;
  }
  table {
    // margin: 0 !important;
    margin: 0 2rem !important;
  }
  [data-style-id="text-after"]{
    text-align: center;
    color: red;
    font-size: 1.5rem;
    margin-bottom: 1.5rem !important;
  }
  // margin-bottom: 5rem !important;
  .MuiTableCell-root {
    border-bottom: none !important;
  }
  tbody {
    & > tr:not(:first-child) {
      & > td:nth-child(n + 3) {
        display: none !important;
      }
    }
    th.MuiTableCell-root.MuiTableCell-body,
    td.MuiTableCell-root.MuiTableCell-body {
      & > div {
        font-size: 1.4rem !important;
        text-align: inherit !important;
        font-weight: 400 !important;
      }
    }
  }
}
.approved-data-header {
  text-align: center;
  margin: 3rem 0rem !important;
  color: $color-primary-light;
  font-family: "Montserrat";
  padding: 0rem 20rem;
  h3 {
    line-height: 4rem;
  }
}
.approved-data-details {
  .Empty{
    display: none;
  }
  border: 2rem solid $color-approve-background;
  width: 62%;
  margin: 0 auto;
  padding: 2rem 4rem !important;
  & > div:first-child {
    margin-bottom: 4rem !important;
  }
  h3 {
    font-size: 2rem !important;
    padding-bottom: 1rem !important;
    margin-bottom: 2rem !important;
    font-family: "Montserrat";
  }
}
.grid-col {
  display: grid;
  grid-template-columns: 70% 30%;
  margin-bottom: 0.7rem !important;
  p {
    font-weight: 500;
    font-size: 1.4rem;
  }
}
.aprrove-textafter {
  width: 40% !important;
  text-align: center;
  font-size: 1.5rem !important;
  margin: 3rem auto !important;
  font-weight: 100 !important;
}


//APPROVAL SEND LINK SUCCESSS
[data-style-actor-name="BrApprovalSendLinkContainer"] {
  [data-style-actor-name="BrApprovalSendLinkDetails"] {
    .MuiPaper-root.MuiPaper-elevation2.MuiPaper-rounded {
      div {
        [data-style-id="title"] {
          margin-top: 6rem !important;
        }

        [data-style-id="text-before"] {
          flex-grow: 1;
          top: 11rem;
          text-align: center !important;
          font-size: 2rem !important;
          padding: 0 14rem !important;
          line-height: 3rem;
        }
      }
    }
  }
}
.info-text {
  text-align: center !important;
}

//APPROVAL DOWNLOAD
[data-style-actor-name="BrDownloadLoanContainer"] {
  [data-style-actor-name="BrDownloadLoanDetails"] {
    .MuiPaper-root.MuiPaper-elevation2.MuiPaper-rounded {
      [data-style-id="title"] {
        display: flex;
        font-size: 3rem !important;
      }
      [data-style-id="text-after"] {
        flex-grow: 1;
        font-size: 1.6rem !important;
        padding: 0.5rem 0rem !important;
      }
    }
    [data-style-id="action"][data-style-action-name="DownloadLoanContract"] {
      color: green !important;
      font-size: 30px !important;
    }
  }
  [data-style-actor-name="BrDownloadLoanDetails"] {
    [data-style-id="list-view"][data-style-actor-name="BrDownloadLoanDetails"] {
      &
        > .MuiToolbar-root.MuiToolbar-regular.toolbar-at-bottom.MuiToolbar-gutters {
        display: none;
      }
    }
  }
}

//SIGNED LOAN
[data-style-actor-name="BrSignedLoanContainer"] {
  [data-style-actor-name="BrSignedLaonContractHeaderPanel"]{
    [data-style-id="section-title"] {
      font-size: 1.8rem !important;
    }
  }
  [data-style-actor-name="BrSignedLaonContractIdPanel"] {
    display: none;
  }
  [data-style-id="base-panel"][data-style-actor-name="BrLaonContractDragAndDrop"] {
    padding: 4rem 0 !important;
  }
  [data-style-id="base-panel"][data-style-actor-name="BrSignedLaonContractSubmit"] {
    padding: 4rem 0 !important;
  }
  .droppable-component {
    box-shadow: none !important;
  }
}

//Multiple Employment Page
[data-style-actor-name="BrMultipleEmploymentContainer"] {
  [data-style-actor-name="BrMultipleEmploymentTab"] {
    & > div.MuiToolbar-root.MuiToolbar-regular.toolbar-at-top,
    & > div.MuiToolbar-root.MuiToolbar-regular.toolbar-at-bottom {
      display: none !important;
    }
    .MuiPaper-root.MuiPaper-elevation0.MuiPaper-rounded {
      [data-style-id="tabs"] {
        .MuiTabs-flexContainer {
          display: grid;
          grid-template-columns: 50% 50%;
          button {
            max-width: 100% !important;
          }
        }
        .jss76.jss77 MuiTabs-indicator {
          width: 50% !important;
        }
        [data-style-id="tab-step-body"] {
          [data-style-id="detail-view"][data-style-actor-name="BrEmploymentOne"] {
            div.MuiToolbar-root.MuiToolbar-regular.toolbar-at-top {
              display: none;
            }
          }
          [data-style-actor-name="BrEmploymentOne"],
          [data-style-actor-name="BrIncomeOne"] {
            [data-style-field-name="Recieve_Government_Allowance_or_Pension"],
            [data-style-field-name="Receive_Additional_Income"],
            [data-style-field-name="Expected_Circumstantial_Change"] {
              legend.MuiFormLabel-root {
                color: $color-black !important;
              }
            }
          }
          [data-style-actor-name="BrAdditionalIncomeOne"],
          [data-style-actor-name="BrAdditionalIncomeTwo"] {
            & > div:first-child {
              & > [data-style-id="grid-container"] {
                display: grid !important;
                grid-template-columns: 50% 50% !important;
              }
            }
            [data-style-id="action"][data-style-action-name="removeNormal"],
            [data-style-id="action"][data-style-action-name="removeSubmit"] {
              color: red !important;
              border: none !important;
            }
            [data-style-id="action"][data-style-action-name="AddBtn"] {
              min-width: 15.6rem !important;
              border-radius: 50px !important;
            }
          }

          [data-style-actor-name="BrIncomeOne"],
          [data-style-actor-name="BrIncomeTwo"],
          [data-style-actor-name="BrOtherAdditionalIncomeOne"],
          [data-style-actor-name="BrOtherAdditionalIncomeTwo"] {
            [data-style-field-name="Recieve_Government_Allowance_or_Pensio__c"],
            [data-style-field-name="Receive_Additional_Income__c"],
            [data-style-field-name="Expected_Circumstantial_Change__c"] {
              fieldset.MuiFormControl-root {
                padding-left: 0 !important;
              }
              legend.MuiFormLabel-root {
                color: $color-black !important;
              }
              [aria-label="Recieve Government Allowance or Pensio"],
              [aria-label="Receive Additional Income"],
              [aria-label="Expected Circumstantial Change"] {
                > div {
                  > div {
                    // flex-basis: 10%;
                  }
                }
              }
            }
            .MuiToolbar-root.MuiToolbar-regular.toolbar-at-bottom.MuiToolbar-gutters {
              display: none !important;
            }
          }
        }
      }
    }
    /*Omair da doubt*/
    .MuiPaper-root.MuiPaper-elevation0.MuiPaper-rounded:nth-child(2) {
      //display: none !important;
    }
  }
  [data-style-actor-name="BrMultipleEmploymentButton"] {
    .MuiPaper-root.MuiPaper-elevation0.MuiPaper-rounded {
      .MuiToolbar-root.MuiToolbar-regular.toolbar-at-bottom.MuiToolbar-gutters {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

// Multiple Expense

[data-style-actor-name="BrMultipleExpensesContainer"] {
  [data-style-actor-name="BrMultipleExpensesTab"] {
    > div.toolbar-at-bottom {
      display: none !important;
    }
    .MuiPaper-root.MuiPaper-elevation0.MuiPaper-rounded {
      [data-style-id="tabs"] {
        .MuiTabs-flexContainer {
          display: grid;
          grid-template-columns: 50% 50%;
          button {
            max-width: 100% !important;
          }
        }
        .jss76.jss77 MuiTabs-indicator {
          width: 50% !important;
        }
      }
    }
  }

  [data-style-id="action"][data-style-action-name="removeNormal"],
  [data-style-id="action"][data-style-action-name="removeSubmit"] {
    color: red !important;
    border: none !important;
  }

  [data-style-actor-name="BrExpenseResidentialStatusOne"]{
    display: none;
  }
  [data-style-id="detail-view"][data-style-actor-name="BrExpenseOne"] {
    .MuiToolbar-root.MuiToolbar-regular.toolbar-at-top.MuiToolbar-gutters {
      display: none;
    }
    [data-style-id="field"][data-style-field-name="Name"] {
      display: none;
    }
  }
  [data-style-id="field"][data-style-field-name="CS_Household_Expense_Check__c"] {
    padding-right: 0px !important;
  }
  [data-style-id="detail-view"][data-style-actor-name="BrExpenseOne"],
  [data-style-id="detail-view"][data-style-actor-name="BrExpenseTwo"] {
    [data-style-id="field"][data-style-field-name="CS_Household_Expense_Check__c"],
    [data-style-id="field"][data-style-field-name="Do_you_have_any_credit_card__c"],
    [data-style-id="field"][data-style-field-name="Do_you_own_an_investment_property__c"] {
      padding-top: 0px !important;
      padding-left: 0px !important;
      padding-right: 0px !important;
      .MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-3 {
        .MuiGrid-item:nth-child(2) {
          padding-right: 0px !important;
        }
      }

      legend.MuiFormLabel-root {
        color: $color-black !important;
      }
      [aria-label="CS Household Expense Check"] {
        .MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-3 {
          margin-top: -1rem !important;
        }
      }
      [aria-label="CS Household Expense Check"],
      [aria-label="Do you have any credit card"],
      [aria-label="Do you own an investment property"] {
        & > div {
          & > div {
            // flex-basis: 10%;
            label {
              span.MuiButtonBase-root {
                width: 10.6rem !important;
              }
              span.MuiTypography-root {
                // padding-left: 1.2rem !important;
              }
            }
          }
        }
      }
    }

    [data-style-field-name="EssentialExpenses__c"] {
      position: relative;
      //border-top: 1.5px solid rgba(0,0,0,0.2);
      padding-top: 3rem !important;
      &::before {
        content: "";
        background-color: rgba(0, 0, 0, 0.2);
        height: 1.5px;
        width: 95%;
        position: absolute;
        top: 0;
      }
    }

    [data-style-field-name="Do_you_own_an_investment_property__c"] {
      padding: 0 !important;
    }
    [data-style-field-name="NonEssentialExpenses__c"] {
      padding-top: 3rem !important;
    }
    [data-style-section-name="investment_property"] {
      //margin-bottom: -2rem !important;
    }
    [data-style-id="field"][data-style-field-name="Do_you_have_any_credit_card__c"] {
      margin-top: 1.5rem !important;
    }
    [data-style-section-name="total_living_expense"].MuiGrid-root.section.MuiGrid-container.MuiGrid-spacing-xs-3 {
      h3 {
        box-shadow: 0 0 4px $color-box-shadow;
        padding: 1.1rem !important;
      }
      .total_living {
        display: flex;
        flex-direction: column;
        > span {
          text-align: center;
          font-family: "Roboto" !important;
        }
        > span:first-child {
          font-size: 2rem;
          margin-bottom: 1.5rem !important;
        }
        > span:nth-child(2) {
          font-weight: 400 !important;
        }
      }
      padding: 2rem !important;
    }
  }

  [data-style-id="detail-view"][data-style-actor-name="BrOneCreditCard"],
  [data-style-id="detail-view"][data-style-actor-name="BrOtherLoanOne"],
  [data-style-id="detail-view"][data-style-actor-name="BrTwoCreditCard"],
  [data-style-id="detail-view"][data-style-actor-name="BrOtherLoanTwo"] {
    [data-style-section-name="Credit_card"],
    [data-style-section-name="other_loans"] {
      h3 {
        padding-left: 1rem !important;
        margin-bottom: 1.5rem !important;
      }
      fieldset {
        padding-right: 0px !important;
      }
    }
    [data-style-id="field"][data-style-field-name="Do_you_have_any_credit_card__c"],
    [data-style-id="field"][data-style-field-name="Do_you_have_any_other_loans__c"] {
      padding-left: 1px !important;
      legend.MuiFormLabel-root {
        color: $color-black !important;
      }
      [aria-label="Do you have any credit card"],
      [aria-label="Do you have any other loans"] {
        & > div {
          & > div {
            // flex-basis: 10%;
            label {
              span.MuiButtonBase-root {
                width: 10.6rem !important;
              }
              span.MuiTypography-root {
                // padding-left: 1.2rem !important;
              }
            }
          }
        }
      }
    }
  }
  [data-style-id="detail-view"][data-style-actor-name="BrOtherLoanOne"],
  [data-style-id="detail-view"] [data-style-actor-name="BrOtherLoanTwo"] {
    h3 {
      padding-left: 1.6rem !important;
    }
    [data-style-section-name="other_loans"] {
      fieldset {
        // padding-left: 0.3rem !important;
      }
      [data-style-field-name="Do_you_have_any_other_loans__c"] {
        padding-left: 1.8rem;
      }
    }
  }
  [data-style-id="card-view"][data-style-actor-name="BrOneCreditCardDetails"],
  [data-style-id="card-view"][data-style-actor-name="BrTwoCreditCardDetails"],
  [data-style-id="card-view"][data-style-actor-name="BrOtherLoanOneDetails"],
  [data-style-id="card-view"][data-style-actor-name="BrOtherLoanTwoDetails"],
  [data-style-id="card-view"][data-style-actor-name="BrExpiredCreditCardDetails"],
  [data-style-id="card-view"][data-style-actor-name="BrExpiredOtherLoanDetails"]
   {
    //width: 50% !important;
    & > div:first-child {
      & > [data-style-id="grid-container"] {
        display: grid !important;
        grid-template-columns: 50% 50% !important;
      }
    }
    [data-style-id="card-entry"].MuiPaper-root.MuiCard-root.MuiPaper-elevation1.MuiPaper-rounded {
      box-shadow: 0 0 4px $color-box-shadow !important;
    }
    .MuiToolbar-root.MuiToolbar-regular.toolbar-at-bottom.MuiToolbar-gutters {
      // justify-content: flex-start !important;
      margin-top: 2rem;
    }
    [data-style-id="field"][data-style-field-name="Credit_Card_Paid_in_Full__c"] {
      legend.MuiFormLabel-root {
        color: $color-black !important;
      }
      fieldset.MuiFormControl-root {
        padding-left: 0 !important;
      }
    }
    [aria-label="Did you pay off your credit cards in full last month?"] {
      div.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-3 {
        flex-direction: row;
        & > div {
          // flex-basis: 10%;
        }
      }
    }
    button {
      min-width: 15.6rem !important;
      border-radius: 50px !important;
      .MuiButton-label {
        & > span {
          display: flex;
          justify-content: center;
          align-items: center;
          i {
            padding-left: 0.5rem !important;
          }
        }
      }
    }
  }
  [data-style-section-name="text_show"][data-style-id="grid-container"] {
    background-color: #e5e4fc;
    margin: 2rem !important;
    [data-style-id="field"][data-style-field-name="Name"] {
      // display: none !important;
    }
    [data-style-id="section-title"] {
      .living_expense_disclamer {
        & > span:first-child {
          p {
            font-family: "Roboto" !important;
            text-align: center !important;
            font-weight: 400;
            font-size: 1.8rem;
          }
        }
        & > span:last-child {
          padding-top: 1.5rem !important;
          display: flex;
          flex-direction: column !important;
          justify-content: flex-start !important;
          // width: fit-content !important;
          // margin: 1.5rem auto !important;
          font-size: 1.6rem !important;
          font-family: "Roboto" !important;
          p {
            text-align: center;
            padding-bottom: 1rem !important;
          }
        }
      }
    }
  }
}
[data-style-field-name="Valid_to_Date_Medicare__c"],
[data-style-field-name="valid_to_month_medicare__c"] {
  margin-top: -1.8rem !important;
  font-weight: 500;
  &::before {
    content: "Valid until";
  }
}
[data-style-section-name="BluemedicareSection"][data-style-id="grid-container"],
[data-style-section-name="YellowmedicareSection"][data-style-id="grid-container"] {
  [data-style-field-name="valid_to_month_medicare__c"] {
    &::before {
      color: white !important;
    }
  }
}
[data-style-section-name="GreenmedicareSection"][data-style-id="grid-container"] {
  [data-style-field-name="Valid_to_Date_Medicare__c"] {
    &::before {
      color: #000 !important;
    }
  }
}

// Multiple Id Verification
[data-style-actor-name="BrMultipleIdVerificationContainer"] {
  [data-style-actor-name="BrMultipleIdVerificationTab"] {
    & > div.toolbar-at-bottom {
      display: none !important;
    }
    .MuiPaper-root.MuiPaper-elevation0.MuiPaper-rounded {
      [data-style-id="tabs"] {
        .MuiTabs-flexContainer {
          display: grid;
          grid-template-columns: 50% 50%;
        }
      }
    }
  }
  [data-style-actor-name="BrIdVerificationOne"][data-style-id="detail-view"] {
    & > div.toolbar-at-top {
      display: none !important;
    }
  }
  [data-style-actor-name="BrIdVerificationOne"].actor-wrapper,
  [data-style-actor-name="BrIdVerificationTwo"].actor-wrapper {
    [data-style-actor-name="BrIdVerificationOne"][data-style-id="detail-view"],
    [data-style-actor-name="BrIdVerificationTwo"][data-style-id="detail-view"] {
      [data-style-id="title"] {
        font-size: 2.4rem !important;
        text-align: left !important;
        margin: 0 !important;
        padding-left: 1rem !important;
      }
      .MuiTypography-root.text-after.MuiTypography-body1 {
        span {
          font-size: 18px !important;
        }
      }

      .MuiToolbar-root.MuiToolbar-regular.toolbar-at-bottom.MuiToolbar-gutters{
        display: flex;
        flex-direction: column;
      }
    }
  }
  [data-style-id="text-after"] {
    padding-left: 2.3rem !important;
  }


}



[data-style-actor-name="BrRateEstimatePage"],
[data-style-actor-name="BrMultipleApplicantOne"] {
  [data-style-section-name="AboutYouSection"] {
    [data-style-field-name="Gender"].radiobuttons {
      [aria-label="Gender"] {
        div.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-3 {
          div.MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-12.MuiGrid-grid-sm-6 {
            label {
              span.MuiTypography-root.MuiFormControlLabel-label.MuiTypography-body1 {
                width: 31% !important;
              }
            }
            // flex-basis: 10%;
          }
        }
      }
    }
  }
}

//calculator

[data-style-actor-name="BrCalculatorContainer"] {
  [data-style-actor-name="BrIncomeBankCalculate"] {
    .MuiPaper-root.MuiPaper-elevation2.MuiPaper-rounded {
      .record-content {
        display: flex !important;
        [data-style-section-name="BankCalculatedIncomeDetails"] {
          padding-left: 19px;
        }
      }
    }
  }
}
[data-style-actor-name="BrMultipleApplicantOne"][data-style-id="base-panel"] {
  div.MuiToolbar-root.MuiToolbar-regular.toolbar-at-bottom.MuiToolbar-gutters {
    [data-style-action-name="get_rate_overlay"][data-style-id="action"] {
      background-color: $color-secondary-background !important;
    }
  }
}

//bank details
[data-style-stage-name="BrPersonalRateEst"] {
  [data-style-section-name="ConfirmationCheckSectionTwo"][data-style-id="grid-container"] {
    h3.MuiTypography-root.section-title.MuiTypography-h3.MuiTypography-gutterBottom {
      width: fit-content !important;
      margin: 1rem 0.5rem 0 0.5rem !important;
      padding-left: 5rem !important;
      text-align: left !important;
      font-family: "Roboto" !important;
      font-weight: lighter !important;
      font-size: 1.6rem !important;
      padding-top: 1rem !important;
      padding-bottom: 1.5rem !important;
      line-height: 1.5 !important;
      padding-right: 5rem !important;
      color: $color-black;
      background: transparent !important;
    }
    [data-style-id="field"][data-style-field-name="I_Read_And_Understand"] {
      position: absolute !important;
      // margin-top: 1rem !important;
      width: 5rem !important;
      input {
        z-index: 9999;
      }
      label {
        background: transparent !important;
      }
    }
  }
}
[data-style-actor-name="BrExpenseOneButton"][data-style-id="base-panel"],
[data-style-actor-name="BrMultiEmploymentTwoBtn"][data-style-id="base-panel"] {
  div[data-style-id="text-after"],
  div[data-style-id="text-before"] {
    text-align: center !important;
    margin-bottom: 0rem !important;
  }
  [data-style-action-name="continue"][data-style-id="action"] {
    min-width: 0 !important;
    padding: 1rem 6rem !important;
  }
}

@media screen and (min-width: 1422px) and (max-width: 1800px) {
  .creditReport {
    margin-top: -0.4rem !important;
  }
}

@media screen and (min-width: 1399px) and (max-width: 1421px) {
  .creditReport {
    margin-top: -2.6rem !important;
  }
}

@media only screen and (min-width: 1306px) and (max-width: 1329px) {
  .creditReport {
    margin-top: -2.6rem !important;
  }
}

@media only screen and (min-width: 1130px) and (max-width: 1153px) {
  .creditReport {
    margin-top: -2.6rem !important;
  }
}

@media only screen and (min-width: 1070px) and (max-width: 1093px) {
  .creditReport {
    margin-top: -2.6rem !important;
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1046px) {
  .creditReport {
    margin-top: -3rem !important;
  }
}

[data-style-actor-name="BrExpenseOne"] {
  [data-style-field-name="Do_you_own_an_investment_property__c"] {
    .MuiGrid-container {
      .MuiGrid-item {
        &:nth-child(2) {
          padding-right: 0px !important;
        }
      }
    }
  }
}

@media only screen and (min-width: 1922px) and (max-width: 2000px) {
  [data-style-action-name="OpenBankAccountList"] {
    margin-left: 25rem !important;
  }
}

@media only screen and (min-width: 1858px) and (max-width: 1921px) {
  [data-style-action-name="OpenBankAccountList"] {
    margin-left: 23rem !important;
  }
}

@media only screen and (min-width: 1778px) and (max-width: 1857px) {
  [data-style-action-name="OpenBankAccountList"] {
    margin-left: 19rem !important;
  }
}

@media only screen and (min-width: 1708px) and (max-width: 1777px) {
  [data-style-action-name="OpenBankAccountList"] {
    margin-left: 15.5rem !important;
  }
}

@media only screen and (min-width: 1618px) and (max-width: 1707px) {
  [data-style-action-name="OpenBankAccountList"] {
    margin-left: 11rem !important;
  }
}

@media only screen and (min-width: 1538px) and (max-width: 1617px) {
  [data-style-action-name="OpenBankAccountList"] {
    margin-left: 7rem !important;
  }
}

@media only screen and (min-width: 1468px) and (max-width: 1537px) {
  [data-style-action-name="OpenBankAccountList"] {
    margin-left: 3.5rem !important;
  }
}

@media only screen and (min-width: 1318px) and (max-width: 1397px) {
  [data-style-action-name="OpenBankAccountList"] {
    margin-left: -4rem !important;
  }
}

@media only screen and (min-width: 1238px) and (max-width: 1317px) {
  [data-style-action-name="OpenBankAccountList"] {
    margin-left: -8rem !important;
  }
}

@media only screen and (min-width: 1148px) and (max-width: 1237px) {
  [data-style-action-name="OpenBankAccountList"] {
    margin-left: -12.5rem !important;
  }
}

@media only screen and (min-width: 1088px) and (max-width: 1147px) {
  [data-style-action-name="OpenBankAccountList"] {
    margin-left: -15.5rem !important;
  }
}

@media only screen and (min-width: 1028px) and (max-width: 1087px) {
  [data-style-action-name="OpenBankAccountList"] {
    margin-left: -18.5rem !important;
  }
}

/*------------LMB-151 Css Changes--------------*/

[data-style-section-name="brokermanualaddressSection"].section{
  padding-bottom: 0 !important;
  [data-style-field-name="Postal_address"].radiobuttons{
    padding: 2.2rem 0 !important;
    legend{
    font-weight: 100 !important;
    font-size: 1.6rem !important;
    color: black !important;
    }
  }
  h3{
    padding: 0.76rem 16px 0.46rem 10px !important;
  }
}
[data-style-section-name="brokergpomanualaddressSection"].section{
  padding: 0 !important;
  div[data-style-field-name="Po_Gpo_Address_Flag"].boolean{
    padding: 0 12px 12px !important;
  }
}
[data-style-section-name="brokerPostalmanualaddressSection"].section{
  padding: 0;
  div[data-style-field-name="Postal_address_search"][data-style-id="field"]{
    padding: 0 12px 0 !important;
  }
}
[data-style-section-name="brokerflagmanualaddressSection"].section{
  p.MuiTypography-root.MuiTypography-body1{
    font-weight: 100 !important;
    font-size: 1.6rem !important;
  }
}

[data-style-section-name="brokerPostalSearchaddressSection"].section{
  padding: 0 !important;
  div[data-style-field-name="Postal_address_search"][data-style-id="field"]{
    padding: 0 12px !important;
  }
}

[data-style-section-name="Broker_Postal_Manual_Address_Section"].section,[data-style-section-name="Manual_Po_box_Section"].section{
  display: none;
}

//LMB-427 CSS Changes

[data-style-actor-name="BrReleaseChatResult"]{
  margin: 1px 2rem!important;
  overflow-y: auto;
  height: 30rem;
  border-width: 4px !important;
  border-color: #CEE6FF !important;  

  .MuiTable-root{
    text-align: center !important;
    border-spacing: 0.2rem !important;
    border-collapse: separate !important;
    margin-top: 0px !important;

    thead tr{
      text-align: center !important;
      border-spacing: 0.2rem !important;
      border-collapse: separate !important;
    }

    tbody{
      text-align: center !important;
      border-spacing: 0.2rem !important;
      border-collapse: separate !important;

      tr th div{
        font-weight: 400 !important;
        font-size: 1.3rem !important;
        color: black;
      }
    }
  }
} 

[data-style-actor-name="BrReleaseChatResult"] .MuiTable-root thead tr th {
  background-color: #CEE6FF;
}

[data-style-actor-name="BrReleaseChatResult"] .MuiTable-root thead tr th:nth-child(2) {
  width: 150px;
}

[data-style-actor-name="BrReleaseNotesDetails"] [data-style-section-name="br_notes_to_change_details"] [data-style-field-name="genesis__Note__c"]{
  padding-right: 3rem !important;
}


