[data-style-id="app-content"]{
    & > [data-style-actor-name="ClsLayoutTwo"]{
        background-color: $color-body-background ;
    }
    [data-style-id="division"][data-style-actor-name="ClsLayoutTwo"]{
        & > [data-style-actor-name="ClsLayoutTwoHeader"]{
            height: 7.2rem ;

        }

        & > [data-style-actor-name="ClsLayoutTwoMain"]{
            top : 7.5rem !important;
        }
        [data-style-id="division"][data-style-actor-name="ClsLayoutTwoMain"]{
            

            [data-style-id="division"][data-style-actor-name="ClsLayoutTwoBody"]{
                display: grid !important;
                grid-template-columns: 20% 70%;
                margin: 2rem 8rem !important;
                min-height: 75.2rem;

                [data-style-id="tab-step-body"][data-style-actor-name="BrTopupContainer"]{
                    padding-right: 7rem !important;
                }
                & >[data-style-actor-name="ClsLayoutTwoContent"]{
                    background-color: $color-white;   
                }
            }
        }
    
        
    }
}
