.Year{
    padding: 1rem;
    border: 0.1rem solid;
    margin: 1rem;
    display: flex;
    justify-content: space-between;
 }

 [data-style-actor-name="BrProductForBroker"]{
     display: none;
 }

.PersonalLoan{
    display: none;
}


//Rate Estimate Page for Motor Loans
[data-style-id="base-panel"][data-style-actor-name="BrRateEstimatePage"]{
    [data-style-section-name="ApplicantionTypeSection"][data-style-id="grid-container"]{
        [data-style-id="field"][data-style-field-name="Application_Type"]{
            margin-top: 1.6rem !important;
            padding: 0.3rem !important;
            legend.MuiFormLabel-root.Mui-required {
              font-size: 1.6rem !important;
              font-weight: 400 !important;
              font-family: "Roboto";
              color : $color-black-text;
            }

            [aria-label="Application type"]{
                .MuiTypography-root.MuiListItemText-primary.MuiTypography-body1.MuiTypography-displayBlock{
                    text-align: center !important;
                }
                &  > div{
                    & > div{
                        flex-basis: 25.33% !important;
                        label.MuiFormControlLabel-root{

                            span.MuiButtonBase-root{
                                width: 16rem !important;
                            }
                            span.MuiTypography-root {
                                width: 16rem !important;
                                div.MuiListItemText-root{
                                    width: 16rem !important;
                                }
                            }

                        }

                    }
                }
            }
        }
    }
}

[data-style-section-name="AboutYouSection"]{
    [data-style-field-name="Gender"]{
        fieldset{
            [aria-label="Gender"]{
                .MuiGrid-root{
                    .MuiFormControlLabel-root{
                        .MuiTypography-root{
                            li{
                                div{
                                    span{
                                        text-align: center !important;
                                    }
                                }
                            }   
                        }
                    }       
                }
            }
        }   
    }
}


//Required auto details Page
[data-style-actor-name="BrRequiredAutoDetails"]{
    [data-style-actor-name="BrRequiredInsuranceDetails"]{
        [data-style-field-name="Financing_this_policy_under_this_loan__c"]{
            margin-top: -1rem !important;
            fieldset{
                padding:0rem !important;
                legend{
                    color: $color-black !important;
                }
            }
        }
    }
    
    [data-style-actor-name="BrRequiredWarrantyDetails"]{
        
        [data-style-field-name="Financing_this_policy_under_this_loan__c"]{
            margin-top: -1rem !important;
            fieldset{
                padding:0rem !important;
                legend{
                    color: $color-black !important;
                }
            }
        }

    }

}

[data-style-section-name="trailer_collateral_details_check"]{
    [data-style-field-name="trailer_Financed_with_this_app__c"]{
        fieldset{
            legend{
                color: $color-black  !important;
            }
        }
    }
}

[data-style-section-name="motor_type_section"]{
    [data-style-field-name="Motor_Type__c"]{
        fieldset{
            legend{
                color: $color-black ;
            }
        }
    }
}






//Expired Application Show Detail Page
[data-style-actor-name="DealersDetails"][data-style-id="card-view"],
[data-style-actor-name="BrExpiredApplicationDetails"][data-style-id="card-view"],
[data-style-actor-name="BrExpiredEmploymentDetails"][data-style-id="card-view"],
[data-style-actor-name="BrExpiredIncomeDetails"][data-style-id="card-view"],
[data-style-actor-name="BrExpiredExpenseDetails"][data-style-id="card-view"],
[data-style-actor-name="BrExpiredPartyDetails"][data-style-id="card-view"],
[data-style-actor-name="BrExpiredCreditCardDetails"][data-style-id="card-view"],
[data-style-actor-name="BrExpiredOtherLoanDetails"][data-style-id="card-view"],
[data-style-actor-name="BrExpiredCollateralDetails"][data-style-id="card-view"],
[data-style-actor-name="BrExpiredInsurance"][data-style-id="card-view"],
[data-style-actor-name="BrExpiredwarrantyDetails"][data-style-id="card-view"],
[data-style-actor-name="BrExpiredTradeIn"][data-style-id="card-view"],
[data-style-actor-name="BrExpiredIdDetails"][data-style-id="card-view"]
{
    .MuiGrid-root{
        .MuiPaper-root{
            [data-style-id="card-content"]{
                h3{
                    font-size: 1.8rem !important;
                    padding: 1rem 0rem 0.5rem 0rem !important;
                    color: #000000 !important;
                }
                    .MuiTypography-root{
                        .MuiFormLabel-root{
                            color: black !important;
                            font-size: 1.5rem !important;
                        }
                        [data-style-id="card-view-value"]{
                            color: black !important;
                        }
                    }   
            }
        }
    }
}

[data-style-actor-name="BrExpiredCreditCardDetails"][data-style-id="card-view"],
[data-style-actor-name="BrExpiredOtherLoanDetails"][data-style-id="card-view"]{
    & > div{
        & > .MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-3 {
                display: grid;
        grid-template-columns: 50% 50% !important;
        }
    }
}

[data-style-section-name="brokermanualaddressSection"]{
    [data-style-field-name="Postal_address"]{
        fieldset{
            legend{
                color: black;
            }
        }
    }
}


//Add Manually payee poupup 
[data-style-actor-name="BrAddManualPayeeForPrivateSales"]{
    margin: 0rem 0rem;
    .record-content{
        margin-left: 0rem !important;           
    }
    [data-style-actor-name="BrAddManualPayeeDetails"]{
        [data-style-id="detail-view"]{
            [data-style-section-name="BankInformationSection"]{
                [data-style-field-name="Name"]{
                    display: none;
                }
                padding: 0rem !important;
            }        
        }
    }
    [data-style-actor-name="BrAddManualPayeeBankDetails"]{
        [data-style-id="detail-view"]{
            [data-style-section-name="MnaualPayeeBankDetails"]{
                padding: 0rem !important;
            }
        }
    }
}




[data-style-actor-name="BrShowDealerDetail"],
[data-style-actor-name="BrShowFinancierDetail"]
{
    [data-style-id="text-before"]{
        b{
            color: red;
            font-size: 1.4rem;
            font-weight: 300;
        }
    }
    .MuiGrid-root.MuiGrid-container{
        .MuiGrid-item.MuiGrid-grid-xs-12{
            [data-style-id="card-entry"]{
                [data-style-id="card-content"]{
                    .record-content{
                        [data-style-section-name="DealerInfo"],
                        [data-style-section-name="FinnacierInfo"]{
                            [data-style-id="card-view-value-entry"]{
                                [data-style-id="field-label"]{
                                    font-size: 1.5rem !important;
                                    color: black !important;

                                }
                                [data-style-id="card-view-value"]{
                                    font-size: 1.5rem !important;
                                    color: black !important;

                                }
                            }
                        }
                    }
                }

            }
        }

    }
}


[data-style-action-name="BlacklistedDealer"]{
    .MuiButton-label{
        span{
            font-size: 1.2rem;
            text-transform: lowercase;
            font-weight: 300;
            color: red;
        }
    }
}

//Agent Question Page/Popup for Motor Loans
[data-style-actor-name="BrAgentQuestionsPopup"]{
    [data-style-actor-name="BrExceptionTaskContainer"]{
        margin: 0 2.15%;
        [data-style-actor-name="BrExceptionTaskTitle"][data-style-id="detail-view"]{
            [data-style-id="text-before"]{
                padding: 0 !important;
                padding-bottom: 1.5rem !important;
                font-size: 1.6rem !important;
            }
            .MuiToolbar-root{
                h1{
                    position: absolute;
                    top: 2rem;
                    left: 0rem;
                }
            }
        }
        [data-style-actor-name="BrExceptionTask"]{
            [data-style-id="text-before"]{
                font-size: 1.6rem;
                font-weight: 400;
            }
            [data-style-actor-name="BrExceptionTask"]{
                overflow-y: auto;
                min-height: 20rem;
                border-width: 0.4rem !important;
                border-color: #CEE6FF !important;
                .MuiTable-root{
                    text-align: center !important;
                    border-spacing: 0.2rem !important;
                    border-collapse: separate !important;
                    margin-top: 0rem !important;
                    [data-style-id="blank-message"]{
                        font-size: 1.8rem;
                    }
                
                    thead tr{
                      text-align: center !important;
                      border-spacing: 0.2rem !important;
                      border-collapse: separate !important;
                    }
                
                    tbody{
                      text-align: center !important;
                      border-spacing: 0.2rem !important;
                      border-collapse: separate !important;
                
                      tr th{
                            div{
                                font-weight: 400 !important;
                                font-size: 1.3rem !important;
                                color: black;
                            }
                      }
                    }
                  }
            }

        }
    }

    [data-style-actor-name="BrNotesTitle"][data-style-id="detail-view"]{
        .MuiToolbar-root.MuiToolbar-regular.toolbar-at-top.MuiToolbar-gutters{
            margin-left: 6rem;
            margin-top: 2rem;
            margin-bottom: 0rem !important;
            [data-style-id="title"]{
                position: absolute;
                top: 1.5rem;
                left: 0rem;
            }
        }
        
    }

    [data-style-actor-name="BrBrokerNotesContainer"][data-style-id="division"]{
        margin: 0% 4.5%;
        display: grid;
        grid-template-columns: 50% 50%;
        [data-style-actor-name="BrChatResult"]{
            overflow-y: auto;
            height: 20rem;
            border-width: 0.4rem !important;
            border-color: #CEE6FF !important;
            .MuiTable-root{
                text-align: center !important;
                border-spacing: 0.2rem !important;
                border-collapse: separate !important;
                margin-top: 0rem !important;
            
                thead tr{
                  text-align: center !important;
                  border-spacing: 0.2rem !important;
                  border-collapse: separate !important;
                }
            
                tbody{
                  text-align: center !important;
                  border-spacing: 0.2rem !important;
                  border-collapse: separate !important;
            
                  tr th{
                        width: 40%;
                        div{
                            font-weight: 400 !important;
                            font-size: 1.3rem !important;
                            color: black;
                        }
                  }
                }
              }
        }
        [data-style-actor-name="BrNotesDetails"][data-style-id="detail-view"]{
            [data-style-section-name="br_notes_to_change_details"]{
                [data-style-field-name="genesis__Note__c"]{
                    padding: 0 12px !important;
                    [aria-label="Note"]{
                        margin: 0rem !important;
                    }
                }

            }
            .MuiToolbar-root.MuiToolbar-regular.toolbar-at-bottom.MuiToolbar-gutters{
                margin-bottom: 0rem !important;
            }
            .record-content{
                margin-left: 0rem !important;
                [data-style-section-name="br_notes_to_change_details"]{
                    padding: 0rem !important;
                }
            }
        }
    }

    [data-style-actor-name="BrAgentBrokerChatContainer"][data-style-id="division"].appFlexVertical{
        display: grid;
        grid-template-columns: 50% 50% !important;
        //margin-left: 6rem !important;
        margin: 4% !important;
        [data-style-actor-name="BrQuestionsList"]{
            [data-style-section-name="br_agent_questions_to_broker"]{
                [data-style-field-name="Agent_Questions__c"]{
                    [aria-label="Agent's query"]{
                        div{
                            cursor: not-allowed;
                            textarea{
                                cursor: not-allowed;
                            }
                        }
                    }
                }
            }
        }

        [data-style-actor-name="BrAnswerList"] {
            [data-style-id="detail-view"]{
                .MuiToolbar-root.MuiToolbar-regular.toolbar-at-bottom.MuiToolbar-gutters{
                    margin-right: 52rem;
                }
            }
        }
    }

    [data-style-actor-name="BrDocumentTypeRequired"]{
        margin-left: 2.6rem !important;
        font-size: 1.5rem;
        .MuiTypography-root.text-after.MuiTypography-body1[data-style-id="text-after"]{
            margin-bottom: 0rem !important;
        }
    }
}

//Security Page for Motor Loans
[data-style-actor-name="BrSecuredLendContainer"] {

    [data-style-actor-name="MtAssetTypeSelect"][data-style-id="detail-view"]{
        padding-left: 1rem;
        [data-style-id="text-before"]{
            font-size: 1.5rem !important;
            padding-bottom: 0px;
            color: black;
        }
        .MuiToolbar-root.MuiToolbar-regular.toolbar-at-bottom.MuiToolbar-gutters{
            display: none;
        }

    }

    [data-style-actor-name="BrPreApprovalDetail"]{
        [data-style-section-name="BrPreaprrovalDetails"]{
            [data-style-field-name="Asset_being_financed__c"]{
                fieldset{
                    legend{
                        color: $color-black;
                        font-size: 1.5rem;
                    }
                    .MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-3{
                        .MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-12.MuiGrid-grid-sm-6{
                            label{
                                .MuiTypography-root.MuiFormControlLabel-label.MuiTypography-body1{
                                    li{
                                        div{
                                            span{
                                                //margin-left : 80%;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .MuiToolbar-root.MuiToolbar-regular.toolbar-at-bottom.MuiToolbar-gutters{
            display: none;
        }

        [data-style-id="text-after"]{
            font-family: Montserrat !important;
            flex-grow: 1 !important;
            font-weight: lighter !important;
            font-size: 2.4rem !important;
            margin-bottom: 0rem !important;
            span.SearchAssetTitle{
                display: none;
            }
        }
    }

    [data-style-actor-name="BrCollateralListView"]{
        [data-style-action-name="EditSecurity"]{
            font-size: 2rem;
            color: #0e5196;
        }
        [data-style-section-name="Security_Type_Two"]{
            display: grid;
            grid-template-columns: 50% 50%;
            grid-gap: 2rem;
            padding: 0rem 3rem;
        }
        margin-bottom: 2rem !important;
        margin-left: 1rem !important;
        div.MuiToolbar-root.MuiToolbar-regular.toolbar-at-top.MuiToolbar-gutters{
            h1.title{
                text-align: left !important;
                color: #414141 !important;
            }
        }
        table.MuiTable-root{
            border: 0.8rem solid #CEE6FF;
            text-align: center !important;
            border-spacing: 0.2rem !important;
            border-collapse: separate !important;
            margin: 0rem !important;
            margin-bottom: 1rem !important;        
            thead{
                tr{
                    text-align: center !important;
                    border-spacing: 0.2rem !important;
                    border-collapse: separate !important;
                        th{
                            background-color: #CEE6FF;
                        }
                }
            }
            tbody{
                text-align: center !important;
                border-spacing: 0.2rem !important;
                border-collapse: separate !important;
            }
        }
        .blank-message{
            border: 0.8rem solid #CEE6FF;
            border-top: none;
            font-size: 1.6rem;
            font-weight: 400;
        }
    }


    [data-style-id="division"][data-style-actor-name="MtMarineMultipleCont"]{
        display: grid;
        grid-template-columns: 50% 50%;

        [data-style-id="division"][data-style-actor-name="MtMarineMotorDet"]{

            [data-style-actor-name="MtMarineMotorType"]{
                [data-style-id="detail-view"][data-style-actor-name="MtMarineMotorType"]{
                    [data-style-section-name="MtMarineMotorType"]{
                        [data-style-field-name="Marine_Motor_Type"]{
                            fieldset{
                                legend{
                                    color: black;
                                }
                                .MuiFormGroup-root[aria-label="Motor Type"]{
                                    label{
                                        span:nth-child(2){
                                            li{
                                                span{
                                                    margin-left: 2.5rem !important;
                                                }
                                            }
                                        }
                                    }
                                }
                                
                            }
                        }
                    }
                }
            }

            [data-style-actor-name="MtMarineMotorDetails"]{
                [data-style-actor-name="MtMarineMotorDetails"][data-style-id="detail-view"]{
                    position: relative;
                }
            }

        }


        [data-style-id="division"][data-style-actor-name="MtMarineTailerDet"]{
            [data-style-actor-name="MtMarineTrailerDetails"]{
                [data-style-actor-name="MtMarineTrailerDetails"][data-style-id="detail-view"]{
                    position: relative;
                    div:nth-child(2) {
                        overflow-y: hidden !important ;
                    }
                    [data-style-section-name="MtAddTrailer"]{
                        [data-style-field-name="Reason_why_trailer_is_not_finnaced"]{
                            .MuiFormControl-root.MuiTextField-root{
                                label[data-shrink="false"]{
                                    font-size: 1.4rem !important;
                                }
                                label[data-shrink="true"]{
                                    font-size: 1.6rem !important;
                                }
                            }
                        }
                    }
                }
            }  
        }

    }

    [data-style-actor-name="MtMarineBoatQuery"],
    [data-style-actor-name="MtMarinePWCQuery"],
    [data-style-actor-name="MtMarineMotorQuery"],
    [data-style-actor-name="MtMarineTrailerQuery"]{
        display: none;
    }

    [data-style-actor-name="BrSecurityFinance"][data-style-id="detail-view"]{
        margin-left: 1rem;
        [data-style-id="text-before"]{
            font-size: 2rem;
            font-weight: bolder;
            font-family: sans-serif;
            margin: 0rem !important;
            padding-bottom: 0;
        }
        [data-style-section-name="security_finnace"]{
            padding-top: 0rem !important;
            [data-style-field-name="Cash_Price__c"],
            [data-style-field-name="Deposit__c"]{
                padding-top: 0rem !important;
            }
        }
    }


    [data-style-actor-name="BrCollateralSearchTypeTab"] {
        > div.toolbar-at-bottom {
          display: none !important;
        }
        .MuiPaper-root.MuiPaper-elevation0.MuiPaper-rounded {
          [data-style-id="tabs"] {
            .MuiTabs-flexContainer {
              display: grid;
              grid-template-columns: 50% 50%;
              button {
                min-width: 100% !important;
              }
              
            }
            .MuiTabs-indicator{
                width: 50% !important; 
            }
          }
        }
        [data-style-actor-name="MtMakeModelCont"][data-style-id="division"]{

            [data-style-actor-name="MtMakeModelYear"][data-style-id="detail-view"]{
                height: 11rem;
                margin-left: 1rem;
                .record-content{
                    margin: 0rem !important;
                    [data-style-section-name="make_model_year"]{
                        [data-style-field-name="Year_From__c"]{
                            padding: 1rem !important;
                        }

                    }
                }
            }

            [data-style-actor-name="MtMakeModelFound"][data-style-id="static-content"]{
                margin-left: 1rem;
                div.MuiTypography-root.MuiTypography-body1{
                    div.Year{
                        cursor: not-allowed;
                        span[navigate="SelectMake"],
                        span[navigate="SelectModel"],
                        span[navigate="SelectVehicle"],
                        span[navigate="SelectVehicles"]
                        {
                            width: 50% !important;
                            pointer-events : none;
                            
                        }
                        span.value{
                            font-size: 1.4rem;
                            font-family: 'Montserrat';
                            color: #28B540;
                            min-width: 50%;
                            cursor: not-allowed;
                            text-align: right;
                        }
                    }
                    div.Year.editMakeModel{
                        pointer-events : none;
                        cursor: not-allowed;
                    }

                    div.Year.MakeClicked,
                    div.Year.ModelClicked,
                    div.Year.YearClicked{
                        cursor: pointer !important;
                        span[navigate="SelectMake"],
                        span[navigate="SelectModel"],
                        span[navigate="SelectVehicle"],
                        span[navigate="SelectVehicles"]
                        {
                            width: 50% !important;
                            pointer-events : auto !important;
                            
                        }
                        span.value{
                            font-size: 1.4rem;
                            font-family: 'Montserrat';
                            color: #28B540;
                            min-width: 50%;
                            cursor: not-allowed;
                            text-align: right;
                        }
                    }
                }
            }

            [data-style-actor-name="MtMakeModelDeatilsCon"][data-style-id="detail-view"]{
                [data-style-section-name="SearchRegByNvic"]{
                    [data-style-id="section-title"]{
                        display: none;
                    }
                }

                [data-style-section-name="search_by_nvic__collateral_details"]{
                    [data-style-id="section-title"]{
                        display: none;
                    }
                }

                [data-style-section-name="add_at_later_stage_check"][data-style-id="grid-container"].MuiGrid-root.section{
                    padding: 0rem !important;
                    h3{
                        font-size: 2rem !important;
                        font-weight: bolder !important;
                        font-family: sans-serif !important;
                        margin: 0rem !important;
                        padding-bottom: 0rem;
                    }
                }

                [data-style-section-name="search_by_nvic__collateral_other_details"]{
                    [data-style-field-name="Compliance_Month__c"]{
                        &::before {
                            content: "Compliance Date";
                            color: black;
                            font-size: 1.5rem;
                        }
                    }
                    [data-style-field-name="Compliance_Year__c"]{
                        margin-top: 2rem;
                    }
                }

            }


        }
    }

    [data-style-actor-name="BrSearchByNvicContainer"]{
        [data-style-actor-name="BrSearchByNvicContainer"][data-style-id="detail-view"]{

            [data-style-section-name="SearchRegByNvic"]{
                padding-bottom:0rem !important ;
                [data-style-field-name="Auto_NVIC__c"]{
                    margin-bottom: 0rem !important;
                    padding-bottom: 0rem !important;
                    [aria-label="NVIC"]{
                        margin-bottom: 0rem !important;
                    }
                }
                [data-style-id="section-title"]{
                    display: none;
                }
            }

            [data-style-section-name="search_by_nvic__collateral_details"]{
                [data-style-id="section-title"]{
                    display: none;
                }
            }

            [data-style-section-name="search_by_nvic__collateral_other_details"]{
                [data-style-field-name="Compliance_Month__c"]{
                    &::before {
                        content: "Compliance Date";
                        color: black;
                        font-size: 1.5rem;
                    }
                }
                [data-style-field-name="Compliance_Year__c"]{
                    margin-top: 2rem;
                }
            }

            [data-style-section-name="add_at_later_stage_check"]{     
                h3{
                    font-size: 1.4rem !important;
                    font-family: "Roboto" !important;
                    font-weight: 400 !important;
                    b{
                        font-weight: 500 !important;
                        font-size: 1.8rem !important;
                    }
                }
            }

            .MuiTypography-root.text-after.MuiTypography-body1[data-style-id="text-after"]{
                text-align: center;
                background-color: #0046AA !important;
                margin: 0 !important;
                color: white;
                font-size: 1.5rem !important;
                &::before{
                    content: "\f071";
                    font-family: "FontAwesome";
                    padding: 1rem;
                    font-size: 1.6rem !important;
                }
            }
        }

        div.MuiToolbar-root.MuiToolbar-regular.toolbar-at-bottom.MuiToolbar-gutters{
            margin-bottom: 0rem !important;
        }

        div.MuiToolbar-root.MuiToolbar-regular.toolbar-at-top.MuiToolbar-gutters{
            position: absolute;
            top: 3.35rem;
            left: 47rem;
        }
    }

    [data-style-actor-name="BrManualCollateralGarageDetails"]{
        [data-style-section-name="garage_collateral_address_check"]{
            [data-style-field-name="Applicant_addres_same_as_vehicle_addres__c"]{
                fieldset{
                    legend{
                        color: $color-black  !important;
                    }
                }
            }
        }
    }
    
    [data-style-actor-name="BrSecurityButton"]{
        [data-style-id="text-before"]{
            text-align: center;
            font-weight: 400;
            font-size: 1.5rem;
            padding-bottom: 2rem !important;
        }
        
        .MuiToolbar-root.MuiToolbar-regular.toolbar-at-bottom.MuiToolbar-gutters{
            display: flex;
            flex-direction: column;
        }
    }
    
    [data-style-actor-name="BrAssetDetailsTab"] {
      .MuiPaper-root.MuiPaper-elevation0.MuiPaper-rounded {
        [data-style-id="tabs"] {
          .MuiTabs-flexContainer {
            display: grid;
            grid-template-columns: 50% 50%;
          }
        }
      }
    }

    [data-style-actor-name="MtAddManualCollateralContainer"]{
        [data-style-actor-name="MtAddManualCollateral"]{
            [data-style-section-name="search_by_nvic__collateral_details"]{
                h3{
                    font-size: 1.4rem !important;
                    font-family: 'Roboto' !important;
                    font-weight: 400 !important;
                }
            }

            [data-style-section-name="add_at_later_stage_check"]{
                
                h3{
                    font-size: 1.4rem !important;
                    font-family: "Roboto" !important;
                    font-weight: 400 !important;
                    b{
                        font-weight: 500 !important;
                        font-size: 1.8rem !important;
                    }
                }
            }


            [data-style-section-name="search_by_nvic__collateral_other_details"]{
                [data-style-field-name="Compliance_Month__c"]{
                    margin-top: -2rem;
                    &::before {
                        content: "Compliance Date";
                        color: black;
                        font-size: 1.5rem;
                    }
                }

            }

        }

    }
    [data-style-actor-name="MtSecurityDocUploadBtn"][data-style-id="detail-view"]{
        .title-group{
            h1[data-style-id="title"]{
                font-size: 1.4rem !important;
                font-family: "Roboto" !important;
                font-weight: 400 !important;
            }
        }

    }

    [data-style-actor-name="BrTradeIn"]{
        margin-left: 1rem;
        .record-content{
            margin: 0rem !important;
        }
        [data-style-id="text-before"]{
            margin-left: -0.5rem !important;
            font-family: Montserrat!important;
            flex-grow: 1!important;
            font-weight: lighter!important;
            font-size: 2.4rem!important;
            margin-bottom: 1.5rem !important;
        }
        [data-style-section-name="trade_in_check"]{
            margin-top: 0rem !important;
            padding-top: 0rem !important;
                [data-style-field-name="Details_Known_for_Asset_Being_Financed__c"]{
                    margin: 0rem !important;
                    padding: 0rem !important;
                    fieldset{
                        padding-left:0rem !important ;
                        legend{
                            color: $color-black ;
                            font-size: 1.5rem;
                        }
                    }
                }   
        }
        [data-style-section-name="trade_in_details"]{
            //margin-left: 1rem !important;
            
        }
        .MuiToolbar-root.MuiToolbar-regular.toolbar-at-bottom.MuiToolbar-gutters{
            display: none;
        }
    }

    [data-style-actor-name="BrSecurityTitle"]{
        //margin-left: 1rem;
        margin-bottom: 2rem;
        [data-style-id="text-before"]{
            font-family: Montserrat!important;
            flex-grow: 1!important;
            font-weight: lighter!important;
            font-size: 2.4rem!important;
            padding-bottom: 0rem ;
        }
    }

    [data-style-actor-name="BrTradeInDetails"] {
      [data-style-field-name="Does_applicant_use__c"] {
        legend.MuiFormLabel-root {
          color: $color-black !important;
        }
        fieldset.MuiFormControl-root {
          padding-left: 0 !important;
        }
        legend.MuiFormLabel-root {
          color: $color-black !important;
        }
      }
    }
}

//Insurance Page for Motor Loans
[data-style-actor-name="BrInsuranceContainer"] {
    [data-style-actor-name="BrInsuranceDetails"]{
        //margin-left: 1rem;
        [data-style-field-name="Financing_this_policy_under_this_loan__c"]{
            fieldset{
                legend{
                    color: $color-black !important;
                }
            }
        }
    }
    [data-style-actor-name="MtInsuranceDocUploadBtn"][data-style-id="detail-view"]{
        .title-group{
            h1{
                font-size: 1.6rem !important;
                font-family: "Roboto" !important;
                font-weight: 400 !important;
            }
        }
    }

    [data-style-actor-name="BrGarageDetails"]{
        legend{
            color: $color-black ;
        }
        .toolbar-at-bottom{
            display: flex;
            flex-direction: column;
        }
    }

    [data-style-section-name="do_you_have_warranty_check"],[data-style-section-name="insurance_check_check"]{

        [data-style-id="section-title"]{
            margin: 0rem !important;
            padding-left: 1rem !important; 
        }
        [data-style-field-name="Do_you_have_warranty__c"],[data-style-field-name="Financing_this_policy_under_this_loan__c"]{
            fieldset{
                padding: 0rem !important;
                legend{
                    color: $color-black  !important;
                }

            }
            
        }
    }
    
    [data-style-actor-name="BrWarrantyDetails"],[data-style-actor-name="BrInsuranceCheck"]{
        .toolbar-at-bottom{
            display: none !important;
        }
        [data-style-field-name="Financing_this_policy_under_this_loan__c"],[data-style-field-name="Financing_this_policy_under_this_loan__c"]{
            fieldset{
                legend{
                    color: $color-black !important;
                }
            }
        }

    }
    [data-style-id="action"][data-style-action-name="Remove"] {
      color: red !important;
      border: none !important;
    }
  
    [data-style-actor-name="BrInsuranceDetails"] {
      [data-style-field-name="Financing_this_policy_under_this_loan__c"] {
        padding-top: 0rem !important;
        legend.MuiFormLabel-root {
          color: $color-black !important;
        }
        [aria-label="Do you have any other loans"] {
          & > div {
            & > div {
              label {
                span.MuiButtonBase-root {
                  width: 10.6rem !important;
                }
              }
            }
          }
        }
      }
    }
  
    [data-style-actor-name="BrWarrantyDetails"] {
        //margin-left: 1rem;
      button {
        min-width: 15.6rem !important;
        border-radius: 5rem !important;
        .MuiButton-label {
          & > span {
            display: flex;
            justify-content: center;
            align-items: center;
            i {
              padding-left: 0.5rem !important;
            }
          }
        }
      }
      [data-style-field-name="Financing_this_policy_under_this_loan__c"] {
        padding-top: 0rem !important;
  
        legend.MuiFormLabel-root {
          color: $color-black !important;
        }
        [aria-label="Do you have any other loans"] {
          & > div {
            & > div {
              label {
                span.MuiButtonBase-root {
                  width: 10.6rem !important;
                }
              }
            }
          }
        }
      }
    }
}


//Outstanding Task Count
[data-style-actor-name="BrHeaderUser"]{
    div:nth-child(2){
      overflow: hidden;
    }
    [data-style-id="text-after"]{
      position: relative;
      top: -8.4rem;
      left: 32.5rem;
      width: 1rem;
      font-size: 1.9rem;
      padding-left: 2rem !important;
      padding-right: 2rem !important;
      color: black;
      font-weight: 900;
      text-align: center !important;
      display: flex;
      justify-content: center;
      i{
        font-weight: bolder;
        color: #0046aa;
        font-size: 2.5rem;
      }
      span{
        font-size: 1rem;
        position: relative;
        right: 1.5rem;
        color: #fff;
        top: 0.6rem;
  
      }
    }
}

//Outstanding Task Identify
[data-style-actor-name="BrApplicationLoanContainer"]{
    [data-style-actor-name="BrApplicationCardViewPanel"]{
      table{
        tbody{
          tr.true{
            td:nth-child(3){
              &::before{
                content: "\f0f3";
                font-family: 'FontAwesome';
                color: #006aff;
                }
            }
          }
        }
      }
    }
}

//
[data-style-id="detail-view"][data-style-actor-name="MtReqDocumentUplaod"]{
    div.MuiToolbar-root {
        .title-group{
            &>h1.MuiTypography-root.title.MuiTypography-h1.MuiTypography-gutterBottom[data-style-id="title"]{
                font-size: 14px !important;
                font-size: 'Roboto' !important;
                font-weight: 100 !important;

            }
        }
    }
}

//Marine Asset Popup
[data-style-id="division"][data-style-actor-name="MtMultipleAssetPopupMotor"]{
    [data-style-section-name="search_by_nvic__collateral_other_details"]{
        [data-style-field-name="Compliance_Month__c"]{
            margin-top: -2rem;
            &::before {
                content: "Compliance Date";
                color: black;
                font-size: 1.5rem;
            }
        }
        [data-style-field-name="Compliance_Year__c"]{
            //margin-top: 2rem;
        }
    }
    [data-style-actor-name="MtMarineAddManualCollateral"]{
        margin: 0rem 3rem;
    }
    [data-style-actor-name="MtMarineCollateralSearchTypeTab"] {
        > div.toolbar-at-bottom {
          display: none !important;
        }

        .MuiPaper-root.MuiPaper-elevation0.MuiPaper-rounded {
          [data-style-id="tabs"] {
            .MuiTabs-flexContainer {
              display: grid;
              grid-template-columns: 50% 50%;
              button {
                min-width: 100% !important;
              }
              
            }
            .MuiTabs-indicator{
                width: 50% !important; 
            }
          }
        }
        

        [data-style-actor-name="MtMarineMakeModels"][data-style-id="division"]{
            [data-style-actor-name="MtMarineMakeModelCont"][data-style-id="division"]{
                padding: 0px 7rem;
                [data-style-actor-name="MtMarineMakeModelYear"][data-style-id="detail-view"]{
                    height: 11rem;
                    .record-content{
                        margin: 0rem !important;
                    }
                }
                [data-style-actor-name="MtMarineMakeModelFound"][data-style-id="static-content"]{
                    div.MuiTypography-root.MuiTypography-body1{
                        div.Year{
                            cursor: not-allowed;
                            span[navigate="SelectMake"],
                            span[navigate="SelectModel"],
                            span[navigate="SelectVehicle"],
                            span[navigate="SelectVehicles"]
                            {
                                width: 50% !important;
                                pointer-events : none;
                                
                            }
                            span.value{
                                font-size: 1.4rem;
                                font-family: 'Montserrat';
                                color: #28B540;
                                min-width: 50%;
                                cursor: not-allowed;
                                text-align: right;
                            }
                        }
                        div.Year.editMakeModel{
                            pointer-events : none;
                            cursor: not-allowed;
                        }
      
                        div.Year.MakeClicked,
                        div.Year.ModelClicked,
                        div.Year.YearClicked{
                            cursor: pointer !important;
                            span[navigate="SelectMake"],
                            span[navigate="SelectModel"],
                            span[navigate="SelectVehicle"],
                            span[navigate="SelectVehicles"]
                            {
                                width: 50% !important;
                                pointer-events : auto !important;
                                
                            }
                            span.value{
                                font-size: 1.4rem;
                                font-family: 'Montserrat';
                                color: #28B540;
                                min-width: 50%;
                                cursor: not-allowed;
                                text-align: right;
                            }
                        }
                    }

                }
    
                [data-style-actor-name="MtMarineMakeModelOtherDet"][data-style-id="detail-view"]{
                    [data-style-section-name="SearchRegByNvic"]{
                        h3[data-style-id="section-title"]{
                            display: none;
                        }
                    }

                    [data-style-section-name="search_by_nvic__collateral_details"]{
                        h3[data-style-id="section-title"]{
                            display: none;
                        }
                    }

                    [data-style-section-name="add_at_later_stage_check"][data-style-id="grid-container"].MuiGrid-root.section{
                        h3{
                            font-size: 1.4rem !important;
                            font-family: "Roboto" !important;
                            font-weight: 400 !important;
                            b{
                                font-weight: 500 !important;
                                font-size: 1.8rem !important;
                            }
                        }
                    }

                }
            }

        }

        [data-style-actor-name="MtMarineSearchByNvic"][data-style-id="division"]{
            [data-style-actor-name="MtMarineSearchByNvicContainer"][data-style-id="detail-view"]{
                margin: 0rem 3rem ;
                .MuiToolbar-root.MuiToolbar-regular.toolbar-at-top.MuiToolbar-gutters{
                    position: absolute;
                    top: 3.3rem;
                    left: 59rem;

                }
                [data-style-section-name="SearchRegByNvic"]{
                    h3[data-style-id="section-title"]{
                        display: none;
                    }
                }

                [data-style-section-name="search_by_nvic__collateral_details"]{
                    h3[data-style-id="section-title"]{
                        display: none;
                    }
                }

                [data-style-section-name="add_at_later_stage_check"][data-style-id="grid-container"].MuiGrid-root.section{
                    h3{
                        font-size: 1.4rem !important;
                        font-family: "Roboto" !important;
                        font-weight: 400 !important;
                        b{
                            font-weight: 500 !important;
                            font-size: 1.8rem !important;
                        }
                    }
                }


            }
        }

        
        
    }

}



//Application Confirm page
[data-style-actor-name="BrApplicationConfirmContainer"][data-style-id="division"]{
    [data-style-actor-name="BrReviewContentAuto"][data-style-id="static-content"]{
        .MuiToolbar-root.MuiToolbar-regular.toolbar-at-bottom.MuiToolbar-gutters{
            [data-style-action-name="editDetails"]{
                position: absolute;
                top: 0rem;
                border: none !important;
                span.MuiButton-label{
                    position: absolute;
                    bottom: 12rem;
                    span{
                        font-size: 1.4rem !important;
                        font-weight: 400 !important;
                        i{
                            padding-right: 0.3rem;
                        }
                    }
                }

            }
        }
    }

}



//Task popup
[data-style-actor-name="showTaskWarPopup"][data-style-id="division"]{
    [data-style-actor-name="showTasksActor"][data-style-id="detail-view"]{
        [data-style-id="text-before"]{
            font-family: "Roboto";
            font-weight: 400;
            font-size: 1.8rem;
            text-align: center;
            /* padding-top: 15%; */
            position: absolute;
            top: 3.5rem;
            //left: 20%;
        }
    }
}


//Income updated popup
[data-style-actor-name="IncomeChangeConfirm"][data-style-id="base-panel"]{
    [data-style-id="text-before"]{
        font-family: "Roboto";
        font-weight: 400;
        font-size: 1.8rem;
        text-align: center;
        padding-top: 2rem !important;
    }
}


//Payee Page
[data-style-actor-name="BrPayeeDetailsContainer"][data-style-id="division"]{

    [data-style-actor-name="BrPayeeDetails"]{
        margin-left: 0.5rem;
        .MuiToolbar-root.MuiToolbar-regular{
            h1[data-style-id="title"]{
                text-align: left !important;
                margin: 0rem !important;
                margin-left: 0.3rem !important;
            }
        }
        [data-style-section-name="payee_search_section"]{
            padding-top: 0rem !important;
            [data-style-field-name="ABN_Number"]{
                margin-top: 1rem !important;
                padding-top: 0rem !important ;
                [aria-label="ABN Number"]{
                    margin: 0rem !important;
                }
            }
        }
        [data-style-section-name="payee_section"],
        [data-style-section-name="Dearship_section"],
        [data-style-section-name="Financial_section"]{
            h3{
                ul{
                    li{
                        font-size: 1.5rem;
                    }
                }
            }
        }
        [data-style-section-name="Private_Payee_other_deatails"]{
            h3{
                span{
                    font-size: 1.4rem;
                    font-weight: 400 !important;
                    font-family: 'Roboto';
                }
            }
        }
        .MuiToolbar-root.MuiToolbar-regular.toolbar-at-top.MuiToolbar-gutters{
            [data-style-action-name="ABNnumberPayeeOnly"]{
                position: absolute;
                top: 7.6rem;
                left: 46rem;
            }

            
        }
    
    }

    [data-style-actor-name="BrPayeeListView"]{
        margin-left: 1.4rem !important;
        [data-style-actor-name="BrPayeeListView"][data-style-id="list-view"]{
            .MuiToolbar-root.MuiToolbar-regular.toolbar-at-top.MuiToolbar-gutters{
                min-height: 5rem !important;
                padding: 0rem !important;
                [data-style-id="title"]{
                    text-align: left !important;
                    margin: 0rem !important;
                }
            }
            table{
                margin-top: 0rem !important;
            }

        }

       
        
    }

    [data-style-actor-name="BrInsuranceShowPayee"]{
        margin-left: 1.4rem !important;
        margin-top: 2rem !important;
        .MuiToolbar-root.MuiToolbar-regular.toolbar-at-top.MuiToolbar-gutters{
            padding: 0rem !important;
            [data-style-id="title"]{
                text-align: left !important;
                margin: 0rem !important;
            }
        }
        table{
            margin-top: 0rem !important;
        }
    }

    [data-style-actor-name="BrPayeeButton"][data-style-id="detail-view"]{
        .MuiToolbar-root.MuiToolbar-regular.toolbar-at-bottom.MuiToolbar-gutters{
            display: flex;
            flex-direction: column;
            [data-style-action-name="payeeButton"]{
                margin-bottom: 2.5rem;
            }
        }
    }


    [data-style-actor-name="MtPayeeDocUploadBtn"][data-style-id="detail-view"]{
        .title-group{
            [data-style-id="title"]{
                font-weight: 400 !important;
            }

        }


    }

    [data-style-actor-name="MtCheckLatitudeAccount"]{
        display: none !important;
    }


}


//MtUnderwritting popup

[data-style-id="detail-view"][data-style-actor-name="MtUnderwrittingDeatils"]{
    [data-style-section-name="mt_underwritting_deatils_section"]{
        [data-style-field-name="Assesment_contract_generate_check"]{
            fieldset{
                legend{
                    color: black;
                }
                .MuiFormGroup-root{
                    .MuiGrid-container{
                        div{
                            padding-bottom: 0;
                        }

                    }
                }
            }
        }
    }
}


//Interst Rate Flex Popup Start application

[data-style-actor-name="MtInterstRatePopup"].contains-division{
    width: 100% !important;
    [data-style-actor-name="MtInterstRatePopupDetails"]{
        [data-style-actor-name="MtInterstRateData"][data-style-id="list-view"]{
            div{
                table{
                    margin-top: 0rem !important;
                    thead{
                        tr{
                            background-color: #e8f4ff! important;
                            th{
                                text-align: center !important;
                            }
                        }
                    }
                    tbody{
                        tr{
                            th{
                                text-align: center !important;
                            }
                        }
                    }
                }
            }

        }

    }
}

[data-style-actor-name="BrAgentBrokerChatContainer"]{
    display: none;
}
[data-style-actor-name="BrBrokerAnswer"]{
    display: none;
}


//Application Banner
[data-style-actor-name="BrAppApproverDetails"]{
    [data-style-actor-name="BrAppApproverDetails"][data-style-id="list-view"]{
        div:first-child{
            overflow-x: hidden !important;
        }
        
        .MuiToolbar-root.MuiToolbar-regular.toolbar-at-bottom.MuiToolbar-gutters{
            margin-top: -2.5rem !important;
            [data-style-action-name="underwrittingOpenPopup"],
            [data-style-action-name="retryUnderwritingBtn"]{
                padding: 1rem !important;
                min-width: 7rem !important;
                height: 3.5rem !important;
                font-size: 1.2rem !important;
                margin-right: 0rem !important;
                font-weight: 400 !important;
            }
        }
    }
}


//ID Verification
[data-style-actor-name="BrMultipleIdVerificationOne"][data-style-id="division"]{

    [data-style-actor-name="MtSecurityQuery"]{
        display: none;
    }

}


//Edit Application Details popup
[data-style-actor-name="BrEditDeatilBeforeConfirm"]{
    .MuiToolbar-root.MuiToolbar-regular.toolbar-at-top.MuiToolbar-gutters{
        position: absolute;
        top: 30.2rem;
        right: 12rem;

    }
    [data-style-section-name="change_details_before_confirm"]{
        [data-style-field-name="genesis__Interest_Rate__c"]{
            max-width: 13.5rem;
            label{
                font-size: 1.7rem;
            }
            input{
                max-width: 4rem;
            }
            fieldset{
                border: none !important;
            }
        }
    }

}


.MuiTableCell-root.MuiTableCell-body{
    button{
        span{
            abbr{
            cursor: pointer !important;
            }
        }
    }

}
