[data-style-id="base-panel"][data-style-actor-name="BrPersonalContainer"]{
    [data-style-id="field"][data-style-field-name="Mobile_phone"]{
        [aria-label="Mobile phone"]{
            width: 50% !important;
        }

    }
    [data-style-id="field"][data-style-field-name="Home_Address"]{
        [aria-label="Home Address"]{
            width: 50% !important;
        }
    }
}
.top-up-message{
    .message-status{
        text-align: center;
        font-weight: 500 !important;
        font-size: 2.3rem !important;
        margin-top: 3rem !important;
    }
}
.reject-heading{
    font-size: 2rem !important;
    font-weight: 700 !important;
}
.reject-details{
    margin: 2rem 0 !important;
    font-size: 1.5rem !important;
    font-weight: 400 !important;
    padding-left: 1rem !important;

}
[data-style-id="field"][data-style-field-name="Home_Address"]{
    input{

        cursor: pointer !important ;
    }
}