//Environment Type
$env:dev;

//Colors
$color-primary: #144B99;
$color-secondary: #9F2487;
$color-tertiary: #353535;
$color-white: #fff;
$color-black: #000;
$color-light-gray: #FBFBFB;
$color_trinidad_approx: #e63c00;

//Box Shadow
$box-shadow1: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
$box-shadow2: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
$box-shadow3: 0 8px 17px 2px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
$box-shadow4: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -7px rgba(0,0,0,0.2);
$box-shadow5: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2);
$box-shadow6: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);

//Font
$font_1: "canada-type-gibson", sans-serif;


//Responsive Width:
$break-xs-sm: 400px;
$break-sm: 600px;
$break-md: 768px;
$break-xs-md: 920px;
$break-lg: 1024px;
$break-xs-lg: 1282px;

//Unit To Add Accross Media Queries
$single-pixel: 1;