@mixin respond-to($media) {
    @if $media == xs-sm-device{
        @media only screen and (max-width: $break-xs-sm) {
            @content;
        }
    }
    @else if $media == sm-device {
        @media only screen and (max-width: $break-sm) {
            @content;
        }
    }
    @else if $media == md-device {
        @media only screen and (max-width: $break-md) {
            @content;
        }
    }
    @else if $media == xs-md-device {
        @media only screen and (max-width: $break-xs-md) {
            @content;
        }
    }
    @else if $media == lg-device {
        @media only screen and (max-width: $break-lg) {
            @content;
        }
    }
    @else if $media == xs-lg-device {
        @media only screen and (max-width: $break-xs-lg) {
            @content;
        }
    }
}
@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}