[data-style-id="static-content"][data-style-actor-name="BrFooterSection"]{
    padding: 0px 0px !important;
    height: inherit;
}
.footer-section-details {
  display: flex;
  flex-direction: column;
  justify-content: end;
  text-align: center;
  background-color: $color-footer !important;
  font-size: 1.4rem; 
  padding-top: 1.5rem !important;
  & > div {
    padding-bottom: 1.5rem; 
  }
  .lock-icon span {
    background-color: #EDECEB;
    font-family: fontawesome;
    border-radius: 4rem !important;
    padding: 0.5rem 1rem !important;
  }
  .company-policies a {
    padding-right: 0.7rem;
    text-decoration: underline;
    font-weight: 100 !important;
    color: $color-button-border ;
    cursor: pointer;
    font-weight: 100; 
  }
  .company-license{
    font-weight: 100;
  }

}