[data-style-id="division"][data-style-actor-name="ClsLayoutTwoHeader"]{
    height: 7.2rem;
    display: flex;
    position: fixed;
    z-index: 9999;
    width: 100%;
    background-color: $color-white;
    box-shadow: 0 0 3px $color-box-shadow;
    // justify-content: center;
    align-items: center;
    
    & > [data-style-actor-name="BrHeaderLogo"],
    & > [data-style-actor-name="BrInProgressHeader"] {
        flex-basis: 22%;
        height: inherit;
        [data-style-id="static-content"][data-style-actor-name="BrHeaderLogo"],
        [data-style-id="static-content"][data-style-actor-name="BrInProgressHeader"]
        {
            & > div:first-child{
                margin-left: 30rem;
            }
        }

    }
    [data-style-actor-name="BrInProgressUser"]{
        width: 100%;
        .MuiToolbar-root.MuiToolbar-regular.toolbar-at-top.MuiToolbar-gutters{
            width: 20%;
        }
        div:nth-child(2){
            width: 70%;
        }
    }
    & > [data-style-actor-name="BrHeaderUser"],
    & > [data-style-actor-name="BrInProgressUser"]
    {
        .hand{
            margin-top: 3rem;
        }
        flex-basis: 78%;
        display: flex;
        justify-content: left;
        align-items: center;
        height: inherit;
        .toolbar-at-bottom{
            margin-bottom: 0 !important;
        }
        [data-style-id="base-panel"][data-style-actor-name="BrHeaderUser"],
        [data-style-id="base-panel"][data-style-actor-name="BrInProgressUser"]{
            border-style: none !important;
            box-shadow: none !important;
            display: flex;
            flex-direction: row-reverse;
            height: inherit;
            .MuiToolbar-root.MuiToolbar-regular.toolbar-at-top.MuiToolbar-gutters{
                margin-left: 10.5rem !important;
            }
            [data-style-id="record"][data-style-record-id="new_record_id"]{
                height: 7.2rem ;
                display: flex;     
                justify-content: center;
                align-items: center;               
            }
            [data-style-section-name="Tabset_homepage"][data-style-id="grid-container"]{
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0 0 !important;
                [data-style-id="field"][data-style-field-name="home_tab"]{
                    padding: 0 !important;
                    
                }
                [role="radiogroup"]{
                    & > div{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-wrap: nowrap;
                    }

                }
            }

        }
        
    }
}

