[data-style-id="tab-step-container"][data-style-actor-name="BrHeaderTabs"]{
    padding-top: 3.5rem !important;
    & > div:first-child{
        & >[data-style-id="tabs"]:first-child{

            & > div:first-child {
                padding-left: 1.5rem;
                [role="tablist"]{
                    height: 8rem;
                    button {
                        min-width: 0 !important;
                        margin-right: 2rem ;
                    }
                }
                display: none !important;
            }
        }
    } 
    
    [data-style-id="base-panel"][data-style-actor-name="BrNamePanel"]{
        // padding: 2rem 0 ; 
        box-shadow: none !important;
        & > div:first-child{
            display: flex;
            flex-direction: column;
            [data-style-id="action"][data-style-action-name="get-rate-estimate"]{
                margin-top: 3rem !important;
            }
            button{
                width:100%;
                margin-left: 0 !important;
                padding: 0 0 !important;
                margin-bottom: 2.5rem;
                border: none !important;
                box-shadow:none !important;
                background-color: $color-white !important;

                & > span:first-child{
                    display: inline-block !important;
                    span{
                        display: grid;
                        grid-template-columns: 20% 75%;
                        font-weight: 400 !important;
                        text-transform: none !important;

                        div{
                            padding: 1rem 1rem;
                            border: 2px solid $color-button-border;
                            color: $color-button-border;
                            border-radius: 0.5rem;
                            font-size: 1.5rem;
                            font-weight: 500 !important;

                        }
                        .description{
                            display: flex;
                            text-align: left;
                            align-items: center;
                            padding-left: 1.5rem;
                            font-size: 1.4rem;
                            font-weight: 100 !important;
                            color: $color-black;
                            
                        }
                    }
                }
            }
        }
    }
}
