
[data-style-id="division"][data-style-actor-name="ClsLayoutTwoBody"]{
    & > div:first-child{
        background-color: $color-sidebar-background !important;
    }
    [data-style-id="static-content"][data-style-actor-name="BrSummaryStatic"],
    [data-style-id="static-content"][data-style-actor-name="BrInProgressSummarySidebar"]{
        
        .static_sidebar{
            padding: 2rem 3rem;
            font-weight: 100!important;
            .static_sidebar_content{
                border-bottom: 2px solid $color-white;
                margin-top: 2rem !important;
                
                .static_sidebar_content_items{
                    text-align: center;
                    font-size: 1.4rem;
                }
                .static_sidebar_content_icons{
                    text-align: center;
                    font-weight: 500;
                    font-size: 1.6rem !important;
                    margin-bottom: 5px !important;
                }
                
            }
            .not-border{
                border: none !important;
            }
    
        }
        & > div:last-child{
            justify-content: center;
            button{
                margin-right: 0 !important;
            }
        }
    }
}